@model StormWeb.Models.LeaveApplication
@{
    ViewBag.Title = "Edit";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("Edit", "Leave", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Leave_Id)
    @Html.HiddenFor(model => model.Staff_Id)
    <div class="form-horizontal row-fluid">
        <div class="span12">
            <div class="box-tab">
                <div class="page-header">
                    <h1>
                        &nbsp;&nbsp;Edit Leave Details
                    </h1>
                </div>
                <div class="widget-content">
                    <div class="widget-box" style="padding: 50px;">
                        <div class="control-group">
                            @Html.Label("Staff Name", null, new { @class = "control-label form-required" })
                            <div class="controls">
                                @if (HttpContext.Current.User.IsInRole("Hr") || HttpContext.Current.User.IsInRole("Super"))
                                {
                                    @Html.DropDownList("FirstName", (IEnumerable<SelectListItem>)ViewBag.StaffName, "--Select--", new { @class = "chzn-select" })
                                }
                                else
                                {
                                    @Html.TextBox("FirstName", @CookieHelper.Name, new { @class = "input-large text-tip", placeholder = " Staff Name ", @readonly = "readonly" })
                                }
                                <div id="spErrorMessageFirstName" class="error" style="display: none;">
                                    * Please Select Your Name</div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Label("StartDate", null, new { @class = "control-label form-required" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "chooseDate", @readonly = "readonly", @Value = Model.EndDate.ToString("dd/MM/yyyy") })
                                <div id="spErrorMessageStartDate" class="error" style="display: none;">
                                    * Please Enter Your Start Date</div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Label("EndDate", null, new { @class = "control-label form-required" })
                            <div class="controls">
                                @*@Html.DisplayFor(model => model.AppDateTime, new { @class = "dp1", @Value = Model.AppDateTime.ToString("dd/MM/yyyy") }) *@
                                @Html.TextBoxFor(model => model.EndDate, new { @class = "chooseDate1", @readonly = "readonly", @Value = Model.EndDate.ToString("dd/MM/yyyy") })
                                <div id="spErrorMessageEndDate" class="error" style="display: none;">
                                    * Please Enter Your End Date</div>
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.Label("Reason", null, new { @class = "control-label form-required" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Reason, new { @class = "input-large text-tip", placeholder = " Reason " })
                                <div id="spErrorMessageReason" class="error" style="display: none;">
                                    * Please Enter Your Comment</div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <a class="btn btn-primary" id="submit">Save Changes</a>
                                @Html.Button_DeleteOrCancel("Cancel", "../../Leave")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $("a[id*='submit']").click(function (e) {
            var StaffName = $("select[name='FirstName']").val();
            var StartDate = $("input[name='StartDate']").val();
            var EndDate = $("input[name='EndDate']").val();
            var Reason = $("input[name='Reason']").val();
            var isValid = true;
            if (StaffName == "") {
                document.getElementById("spErrorMessageFirstName").style.display = 'inline';
                isValid = false;
            }
            else {
                document.getElementById("spErrorMessageFirstName").style.display = 'none';
            }
            if (StartDate == "") {
                document.getElementById("spErrorMessageStartDate").style.display = 'inline';
                isValid = false;
            }
            else {
                document.getElementById("spErrorMessageStartDate").style.display = 'none';
            }
            if (EndDate == "") {
                document.getElementById("spErrorMessageEndDate").style.display = 'inline';
                isValid = false;
            }
            else {
                document.getElementById("spErrorMessageEndDate").style.display = 'none';
            }
            if (Reason == "") {
                document.getElementById("spErrorMessageReason").style.display = 'inline';
                isValid = false;
            }
            else {
                document.getElementById("spErrorMessageReason").style.display = 'none';
            }
            if (isValid == true) {
                $("#submitForm").submit();
            }
        })

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chooseDate").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            minDate: '0Y',
            maxDate: '100Y',
            showOn: "button",
            buttonImage: "../../Content/img/calendar_btn.png",
            buttonImageOnly: true,
            onClose: function (selectedDate) {
                $("#EndDate").datepicker("option", "minDate", selectedDate);
            }
        });
    });

    $(document).ready(function () {
        $(".chooseDate1").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            minDate: '0Y',
            maxDate: '100Y',
            showOn: "button",
            buttonImage: "../../Content/img/calendar_btn.png",
            buttonImageOnly: true,
            onClose: function (selectedDate) {
                $(".StartDate").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>
