@model IEnumerable<StormWeb.Models.LeaveApplication>
@{
    ViewBag.Title = "Leave Applications";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp;&nbsp;Leave Applications
                </h1>
            </div>
            <div class="widget-content">
                <div class="widget-box" style="padding: 15px;">
                    <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    <i class="color-icons user_co"></i>Staff_Id
                                </th>
                                <th>
                                    <i class="color-icons house_co"></i>StartDate
                                </th>
                                <th>
                                    <i class="color-icons book_addresses_co"></i>EndDate
                                </th>
                                <th>
                                    <i class="color-icons attach_co"></i>Status
                                </th>
                                <th>
                                    <i class="color-icons doc_text_image_co"></i>Comment
                                </th>
                                <th>
                                    <i class="color-icons hammer_screwdriver_co"></i>Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
   
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff_Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Leave_Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Leave_Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Leave_Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.Button_Add("Create New", "Leave/Create")
</p>
 
