@model StormWeb.Models.PaymentViewModel
@{
    ViewBag.Title = "ShowApplications";
}

<p>
</p>

<script>
$(function () {
    $('.my-data-tbl-boxy').dataTable({
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
						{ "bSortable": false, "aTargets": [ 1,2,3,4,5 ] }
					],
        "iDisplayLength": 10,
        "oLanguage": {
            "sLengthMenu": "<span class='lenghtMenu'> _MENU_</span><span class='lengthLabel'>Entries per page:</span>",
        },
        "sDom": '<"tbl-searchbox clearfix"fl<"clear">>,<"table_content"t>,<"widget-bottom"p<"clear">>'

    });
    $("div.tbl-searchbox select").addClass('tbl_length');
/*$(".tbl_length").chosen({
		disable_search_threshold: 4	
	});
		*/

});
</script>

    @Html.ValidationSummary(true)
    <div class="row-fluid">
        <div class="span12">
            <div class="box-tab">
                <div class="page-header">
                    <h1>
@*                        &nbsp;&nbsp;Your counsellor: @ViewBag.StaffName
                        <small><b>Contact</b>: @ViewBag.StaffContactNumber | <b>Email</b>: @ViewBag.StaffEmail
                            | </small><small><b>Address</b>: @ViewBag.BranchAddress</small>
*@                    </h1>
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Unpaid Applications</a></li>
                        <li class=""><a href="#tab2" data-toggle="tab">Paid Applications</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="widget-content">
                                <div class="widget-box">
                                    <table class="mydata-tbl-inbox table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <i class="color-icons user_business_co"></i>Student Name
                                                </th>
                                                <th>
                                                    <i class="color-icons day_calendar"></i> Date Of Application Status
                                                </th>
                                                <th>
                                                   <i class="color-icons book_open_co"></i>Course Name
                                                </th>
                                                <th>
                                                   <i class="color-icons zone_money_co"></i>Status
                                                </th>
                                                <th>
                                                    <i class="color-icons money_co"></i> Payment
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.unpaidApplications)
                                            { 
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li><a class='tip-top ifName' title="View profile" href="@Url.Action("StudentProfile", "StudentCentre", new { id = @item.Student_Id })">
                                                            @item.Student.Client.GivenName
                                                            @item.Student.Client.LastName</a></li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                @Html.Encode(item.Date_Of_ApplicationStatus.ToShortDateString())
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>@Html.DisplayFor(modelItem => item.Course.Course_Name)</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>@Html.DisplayFor(modelItem => item.Status)</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <a class='tip-top ifName' href=@Url.Action("Create", "Payment", new { id = item.Application_Id })><i class='color-icons add_co tip-top'
                                                                data-original-title="Add Payment"></i></a>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="widget-content">
                                <div class="widget-box">
                                    <table class="mydata-tbl-inbox table table-bordered">
                                      <thead>
                                            <tr>
                                                <th>
                                                    <i class="color-icons user_business_co"></i>Student Name
                                                </th>
                                                <th>
                                                    <i class="color-icons day_calendar"></i> Date Of Application Status
                                                </th>
                                                <th>
                                                   <i class="color-icons book_open_co"></i>Course Name
                                                </th>
                                                <th>
                                                   <i class="color-icons zone_money_co"></i>Status
                                                </th>
                                                <th>
                                                    <i class="color-icons money_co"></i> Payment
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.paidApplications)
                                            {
                                                <tr>
                                                    <td>
                                                        <ul>
                                                            <li><a class='tip-top ifName' title="View profile" href="@Url.Action("StudentProfile", "StudentCentre", new { id = @item.Student_Id })">@item.Student.Client.GivenName
                                                                @item.Student.Client.LastName</a></li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                @Html.Encode(item.Date_Of_ApplicationStatus.ToShortDateString())
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>@Html.DisplayFor(modelItem => item.Course.Course_Name)</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>@Html.DisplayFor(modelItem => item.Status)</li>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        <div class="widget-content">
                                                            <div class="widget-box">
                                                                <a class='tip-top ifName' href="@Url.Action("Edit", new { id = item.Payments.FirstOrDefault().Id })" class='color-icons page_white_paintbrush_co tip-top' data-original-title="Edit Payment">
                                                                </a><a class="color-icons cross_co tip-top" data-original-title="Delete" data-toggle="modal"
                                                                    href="#myModal"></a>
                                                                <div class="modal hide fade" id="myModal" style="display: none;">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">
                                                                            ×</button>
                                                                        <h3>
                                                                            Confirm</h3>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>
                                                                            Confirm Delete?
                                                                        </p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="@Url.Action("Delete", new { id = item.Payments.FirstOrDefault().Id })" class="btn btn-mini btn-warning">
                                                                            Delete</a> <a href="#" id="dimissModal" class="btn btn-mini btn-info" data-dismiss="modal">
                                                                                Cancel</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function () {

        $(".myFrame").colorbox({ iframe: true, width: "500px", height: "800px" });

        $(document).bind('cbox_closed', function () {

            parent.location.reload();
        });

    });


</script>
