@model IEnumerable<StormWeb.Models.Event>
@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="span12">
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp; &nbsp; Events</h1>
               
            </div>
            <div class="widget-content">
                <div class="widget-box" style="padding: 15px;">
                      <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    Heading
                                </th>
                                <th>
                                    Venue
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                   Audience
                                </th>
                                <th>
                                   Description
                                </th>
                                <th>
                                   <i class="color-icons hammer_screwdriver_co"></i>Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {                                                                
                                <tr>
                                    <td>
                                         @Html.DisplayFor(modelItem => item.Heading)                                                                           
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Venue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                   </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventAddedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AudienceType)
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>   
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.EventId}) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
                                    </td>
                                    
                                </tr>   
                                    }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
</div>
<p>
    @Html.Button_Add("Create New", Url.Action("Create","Event"))
</p>
@if (CookieHelper.isStaff())
{
  <div class="span12" style="margin-left: 0;margin-top: 10px;">    
     @Html.Partial("~/Views/Event/Partial/_ScrollingEvent.cshtml")
  </div> 
}