@model StormWeb.Models.Branch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Branch</legend>

    <div class="display-label">Branch_Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Branch_Name)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address.Address_Name)
    </div>

    <div class="display-label">Primary_Contact</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Primary_Contact)
    </div>

    <div class="display-label">Secondary_Contact</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secondary_Contact)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Branch_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
