@model IEnumerable<StormWeb.Models.Branch>
@{
    ViewBag.Title = "Branch List";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp;&nbsp;Branch List
                </h1>
            </div>
            <div class="widget-content">
                <div class="widget-box" style="padding: 15px;">
                    <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    <i class="color-icons arrow_branch_co"></i>Branch Name
                                </th>
                                <th>
                                    <i class="color-icons house_co"></i>Address
                                </th>
                                <th>
                                    <i class="color-icons book_addresses_co"></i>Contact
                                </th>
                                <th>
                                    <i class="color-icons hammer_screwdriver_co"></i>Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch_Name)
                                    </td>
                                    <td>
                                        <ul>
                                            <li>@item.Address.Address_Name , @item.Address.City</li>
                                            <li class="post-date">@item.Address.State , @item.Address.Country.Country_Name , @item.Address.Zipcode</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @if (item.Email != null)
                                            {
                                                <li><i class="color-icons envelope_co"></i><a href="#">@Html.DisplayFor(modelItem => item.Email)</a></li>
                                            }
                                            @if (item.Primary_Contact != null)
                                            {
                                                <li><i class="color-icons mobile_phone_co"></i><a href="#">@Html.DisplayFor(modelItem => item.Primary_Contact)</a></li>
                                            }
                                            @if (item.Secondary_Contact != null)
                                            {
                                                <li><i class="color-icons mobile_phone_co"></i><a href="#">@Html.DisplayFor(modelItem => item.Secondary_Contact)</a></li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        @if (HttpContext.Current.User.IsInRole("BranchManager") && StormWeb.Controllers.BranchController.getBranchId() != item.Branch_Id)
                                        {  
                                            @Html.ActionLink("Details", "Details", new { id = item.Branch_Id }) 
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Branch_Id })  
                                            <span>| </span>
                                            @Html.ActionLink("Details", "Details", new { id = item.Branch_Id })
                                            <span>| </span>  
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Branch_Id })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!HttpContext.Current.User.IsInRole("BranchManager"))
{ 
    <p>
        @Html.Button_Add("Create New", "Branch/Create")
    </p>
}
