@model IEnumerable<StormWeb.Models.Branch>
@{
    ViewBag.Title = "Index";
}
<h2> Branch</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="widget-block">
            <div class="widget-head">
                <h5>
                    Branch list</h5>
            </div>
            <div class="widget-content">
                <div class="widget-box" style="padding: 15px;">
                    <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    <i class="color-icons arrow_branch_co"></i>Branch Name
                                </th>
                                <th>
                                    <i class="color-icons house_co"></i>Address
                                </th>
                                <th>
                                    <i class="color-icons book_addresses_co"></i>Contact
                                </th>
                                <th><i class="color-icons hammer_screwdriver_co"></i>Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch_Name)
                                    </td>
                                    <td>
                                        <ul>
                                            <li>@item.Address.Address_Name , @item.Address.City</li>
                                            <li class="post-date">@item.Address.State , @item.Address.Country.Country_Name , @item.Address.Zipcode</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <i class="color-icons envelope_co"></i><a href="#">@Html.DisplayFor(modelItem => item.Email)</a>
                                        <br />
                                        <br />
                                        <i class="color-icons mobile_phone_co"></i><a href="#">@Html.DisplayFor(modelItem => item.Primary_Contact)</a>
                                        <br />
                                        <br />
                                        <i class="color-icons mobile_phone_co"></i><a href="#">@Html.DisplayFor(modelItem => item.Secondary_Contact)</a>
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Branch_Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Branch_Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Branch_Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p> 
    @Html.Button_Add("Create New", "Branch/Create")
</p>
