@model IEnumerable<StormWeb.Models.OutboxViewModel>
<script type="text/javascript">
    $(function () {
        $('a[name*="deleteBtnSent"]').click(function () {
           
            $.ajax({
                type:'GET',
                url: 'Message/DeleteSent/',
                data: {
                    id: $(this).attr("href") 
                },
                success: function (data) {
                    $("#outboxMessage").html(data);
                }
            });
        });

            $('.mydata-tbl-sent').dataTable({
					    "aaSorting": [[0, 'desc']],
                        "aoColumnDefs": [
						    { "bSortable": false, "aTargets": [ 1,4 ] }
					    ],                        
                        "aaColumns": [
                            null,
                            { "sType": "date-euro-pre" },
                            null,
                            null
                        ],
            "sPaginationType": "full_numbers",
            "iDisplayLength": 10,
            "oLanguage": {
                "sLengthMenu": "<span class='lenghtMenu'> _MENU_</span><span class='lengthLabel'>Message per page:</span>",
            },
            "sDom": '<"table_top clearfix"fl<"clear">>,<"table_content"t>,<"table_bottom"p<"clear">>'

        });
    });
</script>
<script type="text/javascript"> 
     $(function () { 
            $('a[name*="deleteCkbSent"]').click(function () { 
                    var final = '';
                    $('.Send_Checkbox:checked').each(function(){        
                    var values = $(this).val();
                    if(final=="")
                        final = values + "_";
                    else
                        final+=values + "_";
                    }); 
     

                    $.ajax({
                        type:'GET',
                        url: 'Message/DeleteMultipleSent/',
                        data: { 
                            chkDelete :final
                        },
                        success: function (data) {
                            $("#outboxMessage").html(data);
                        }
                    });
            }); 
          
    });
</script>
<script type="text/javascript">
    $(function () {
        var finalIn = '';
        $("#ckbdeleteall").hide();

        $(".Send_Checkbox").click(function () {
            final = '';
            $('.Send_Checkbox:checked').each(function () {
                var values = $(this).val();
                if (final == "")
                    final = values + "_";
                else
                    final += values + "_";
            });

            if (final == '') {
                $("#ckbdeleteall").hide();
            }
            else {
                $("#ckbdeleteall").show();
            }
        });
        $('a[name*="deleteCkbSent"]').click(function () {
            $.ajax({
                type: 'GET',
                url: 'Message/DeleteMultipleSent/',
                data: {
                    chkDelete: final
                },
                success: function (data) {
                    $("#outboxMessage").html(data);
                }
            });
        });
    });

 
</script>
<table class="mydata-tbl-sent table table-bordered">
    <thead>
        <tr>
            <th> 
                 <a class="btn btn-danger" id="ckbdeleteall" data-toggle="modal" href="#myModalSend">Delete  
                    </a>  
            </th>
            <th class="col-half">
                Date
            </th>
            <th class="col-half">
                To
            </th>
            <th>
                Subject
            </th>
            <th style="width: 50px">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 80px;">@*ad_Checkbox1*@
                    <input name="selector[]" id="Send_Checkbox" class="Send_Checkbox" type="checkbox" value="@item.message.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.message.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nameFrom)
                </td>
                <td>
                    <a class='iframe' href="@Url.Action("Read", new { id = item.message.Id, type = "sent", userTo=item.nameFrom })" title="To close, click anywhere outside this window">@Html.DisplayFor(modelItem => item.message.Subject)</a>
                </td>
                <td>
                    <a class="color-icons cross_co" id="modalButton" data-toggle="modal" href="@Html.Raw("#myModal" + item.message.Id)">
                    </a>
                </td>
            </tr>
            <div class="modal hide" id="@Html.Raw("myModal" + item.message.Id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×</button>
                    <h4>
                        Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Confirm delete?
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="@item.message.Id" name="@Html.Raw("deleteBtnSent" + item.message.Id)" class="btn btn-mini btn-warning" data-dismiss="modal">
                        Delete</a> &nbsp; <a href="#" id="dismissModal" class="btn btn-mini btn-info" data-dismiss="modal">
                            Cancel</a>
                </div>
            </div>
            
            <div class="modal hide" id="myModalSend">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×</button>
                    <h4>
                        Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Confirm delete?
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="@item.message.Id" name="@Html.Raw("deleteCkbSent")" class="btn btn-mini btn-warning" data-dismiss="modal">
                        Delete</a> &nbsp; <a href="#" id="dismissModal" class="btn btn-mini btn-info" data-dismiss="modal">
                            Cancel</a>
                </div>
            </div>
            
           
            <script>
                $('#@Html.Raw("myModal" + item.message.Id)').on('shown', function (e) {
                    var modal = $(this);

                    modal.css('margin-top', (modal.outerHeight() / 2) * -1)
         .css('margin-left', (modal.outerWidth() / 2) * -1);

                    return this;
                });
            </script>
        }
    </tbody>
</table>
