@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Admin Panel Template"/>
    <meta name="author" content="Westilian: Kamrujaman Shohel"/>
    @Html.Partial("_LoadHeaderWithScript")
    @{ Html.EnableClientValidation(); }
</head>
<body>
    <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	</div>
</div>
    <!-- End of Header -->
    <!-- Sidebar start -->
    <!-- Sidebar ends -->
    <!-- Main container -->
    <div id="main-content" style="margin-left: 0px">
        <div class="container-fluid">
        @RenderBody()
        </div>
    </div>
    <!-- End of Main container -->
</body>

<script>
    $(".cboxIframe").niceScroll({
        cursorcolor: "#2f2e2e",
        cursoropacitymax: 0.7,
        boxzoom: false,
        touchbehavior: true
    });

</script>

@using StormWeb.Helper
    @if (NotificationHandler.hasNotification())
    {
        string[] noty = NotificationHandler.getNotification();
        
        <script>
            $(function () {
                $.pnotify({
                    title: '@(noty[2])',
                    text: '@(noty[1])',
                    type: '@(noty[0])',
                    history: false
                });
            });
        </script>
    }
</html>

