@model StormWeb.Models.AdvertisementViewModel
      

@{
    ViewBag.Title = "Details";
}

<div class="row-fluid">
    <div class="span12">
         <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp; &nbsp; Advertisement Details</h1>
               
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <br />
                    <table class="table">
                        <thead>
                            @Html.HiddenFor(model => model.adv.AdvertisementId)
                            <tr>
                                <th>
                                    @Html.Label("Heading")
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.adv.Heading)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.Label("Author")
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.adv_file.UploadedBy)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.Label("Date Uploaded")
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.adv_file.UploadedOn)
                                </td>
                            </tr>
                            <tr>
                                <th style="vertical-align:middle">
                                    @Html.Label("Content")
                                </th>
                                <td>
                                    @(Html.Raw(Model.adv.Comments))
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.Button_BackToList("Bact To List", "../Index")
</p>
