@model IEnumerable<StormWeb.Models.Advertisement>

@{
    ViewBag.Title = "Index";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp; &nbsp; Advertising / Promotions</h1>
               
            </div>
            <div class="widget-content">
                <div class="widget-box" style="padding: 15px;">
                      <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    Heading
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    File
                                </th>
                               @* <th>
                                    Comments
                                </th>*@
                                <th>
                                   <i class="color-icons hammer_screwdriver_co"></i>Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {                                                                
                                <tr style="@{if(item.ExpiryDate < DateTime.Now){@("background-color: #FFE2D7")}}">
                                    <td>
                                         @Html.DisplayFor(modelItem => item.Heading)
                                       
                                         <br/><br /><span class="label @{ if (item.Audience == "staff") { @("label-success") } else { @("label-info") } }"> @Html.DisplayFor(modelItem => item.Audience)</span>
                                                                                 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Advertisement_File.SingleOrDefault().UploadedBy)
                                    </td>
                                    <td>
                                      <ul>
                                        <li class="post-by"><i class="icon-small-black user_sc"></i> Uploaded Date:  @Html.DisplayFor(modelItem => item.Advertisement_File.SingleOrDefault().UploadedOn)</li>
                                        <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i> Expiry Date:  @Html.DisplayFor(modelItem => item.ExpiryDate)  <span style = "@{ if(item.ExpiryDate < DateTime.Now) {@("color: red")} }">Expired</span></li>
                                       
                                      </ul>
                                       
                                   </td>
                                    <td>
                                        @if (item.Advertisement_File.SingleOrDefault().FileName != null)
                                        {
                                         @Html.Link_DownloadFile(@item.Advertisement_File.SingleOrDefault().FileName, @Url.Action("AdvertisementFile", new { id = item.Advertisement_File.SingleOrDefault().AdvertisementFileId }))}
                                        else { @("No file attached")}
                                       @* @Html.DisplayFor(modelItem => item.Advertisement_File.SingleOrDefault().FileName)*@
                                    </td>
                                   @* <td> @Html.DisplayFor(modelItem => item.Comments)
                                    </td>*@
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.AdvertisementId }) |
                                        @Html.ActionLink("Details", "Details", new { id=item.AdvertisementId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id=item.AdvertisementId })
                                    </td>
                                    
                                </tr>   
                                    }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
        @Html.Button_Add("Create New", Url.Action("Create","Advertisement"))
    </p>

