@model IEnumerable<StormWeb.Models.Client>
@{
    ViewBag.Title = "Index";
}
<script>

$(function () {
    $('.my-data-tbl-boxy').dataTable({
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
						{ "bSortable": false, "aTargets": [ 1,2,3,4 ] }
					],
        "iDisplayLength": 10,
        "oLanguage": {
            "sLengthMenu": "<span class='lenghtMenu'> _MENU_</span><span class='lengthLabel'>Entries per page:</span>",
        },
        "sDom": '<"tbl-searchbox clearfix"fl<"clear">>,<"table_content"t>,<"widget-bottom"p<"clear">>'

    });    
    $("div.tbl-searchbox select").addClass('tbl_length');
/*$(".tbl_length").chosen({
		disable_search_threshold: 4	
	});
		*/

});
</script>
<div class="row-fluid">
    <div class="span8">
        @*  <div class="widget-block">       *@
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp;&nbsp;Client List
                </h1>
            </div>
            @* <div class="widget-head">
            <h5><i class="black-icons  documents"></i>Client List</h5>
          </div>*@
            <div class="widget-content">
                <div class="widget-box" style="padding: 12px;">
                    <br />
                    <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    <i class="color-icons user_co"></i>Client
                                </th>
                                <th>
                                    <i class="color-icons book_addresses_co"></i>Contact
                                </th>
                                <th>
                                    <i class="color-icons house_co"></i>Address
                                </th>
                                <th>
                                   <i class="color-icons arrow_branch_co"></i> Branch
                                </th>
                                <th>
                                    Course, University
                                </th>
                                <th>
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (HttpContext.Current.User.IsInRole("BranchManager"))
                                {
                                    if (StormWeb.Controllers.BranchController.getBranchId() == item.Branch_Id)
                                    {
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                @{ string name = item.Title + " " + item.GivenName + " " + item.LastName; }
                                                <text>@name</text>
                                            </li>
                                            <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Date of birth:
                                                <a href="#">@item.Dob.ToShortDateString() </a></li>
                                            <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Registered on:
                                                <a href="#">@item.Registered_On </a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @if (item.Email != null)
                                            {
                                                <li><i class="color-icons envelope_co"></i><a href="#">@item.Email</a></li>
                                            }
                                            @if (item.ContactNumber != null)
                                            {
                                                <li><i class="color-icons mobile_phone_co"></i><a href="#">@item.ContactNumber</a></li>
                                            }
                                            @if (item.SecondaryContactNumber != null)
                                            {
                                                <li><i class="color-icons mobile_phone_co"></i><a href="#">@item.SecondaryContactNumber</a></li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        @if (item.Address != null)
                                        {
                                            <ul>
                                                <li>@item.Address.Address_Name, @item.Address.City</li>
                                                <li class="post-date">@item.Address.State @item.Address.Country.Country_Name @item.Address.Zipcode</li>
                                            </ul>}
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Branch_Name)
                                    </td>
                                   <td>
                                        @{
                                            List<StormWeb.Models.Application> applicationCount = item.Students.SingleOrDefault().Applications.ToList();
                                            
                                            foreach(StormWeb.Models.Application app in applicationCount)
                                            {
                                                <div>@app.Course.Course_Name</div>
                                                <div>@app.Course.Faculty.University.University_Name</div>
                                            }
                                        }
                                    </td>
                                    <td>
                                                @{
                                                 string status = ""; 
                                                if (item.Students.SingleOrDefault().Applications.Single().Status == "Initiated")
                                                {
                                                    status = "Your application proccess has been started";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Staff_Assigned")
                                                {
                                                    status = "You have been assigned a counsellor "; 
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Documents_Completed")
                                                {
                                                    status = "All the Documents have been uploaded";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Application_Submitted")
                                                {
                                                    status = "All the Applications have been Submitted";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Interview_Completed")
                                                {
                                                    status = "You have attended the interview";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Offer_Letter")
                                                {
                                                    status = "Offer Letter is issued";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Acceptance")
                                                {
                                                    status = "Your offer letter has been accepted";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "Payment_Received")
                                                {
                                                    status = "Payment is made";
                                                }
                                                else if (item.Students.SingleOrDefault().Applications.Single().Status == "CoE")
                                                {
                                                    status = "CoE is issued";
                                                }   
                                                }
                                                <div class="alert alert-success">
                                                  @status
                                                </div>
                                            </td>
                                            </tr>
                                    }
                                }
                                else
                                {
                                <tr>
                                    <td>
                                        <ul>
                                            <li>
                                                @{ string name = item.Title + " " + item.GivenName + " " + item.LastName; }
                                                <text>@name</text>
                                            </li>
                                            <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Date of birth:
                                                <a href="#">@item.Dob.ToShortDateString() </a></li>
                                            <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Registered on:
                                                <a href="#">@item.Registered_On </a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @if (item.Email != null)
                                            {
                                                <li><i class="color-icons envelope_co"></i><a href="#">@item.Email</a></li>
                                            }
                                            @if (item.ContactNumber != null)
                                            {
                                                <li><i class="color-icons mobile_phone_co"></i><a href="#">@item.ContactNumber</a></li>
                                            }
                                            @if (item.SecondaryContactNumber != null)
                                            {
                                                <li><i class="color-icons mobile_phone_co"></i><a href="#">@item.SecondaryContactNumber</a></li>
                                            }
                                        </ul>
                                    </td>
                                    <td> @if (item.Address != null)
                                        {
                                        <ul>
                                            <li>@item.Address.Address_Name, @item.Address.City</li>
                                            <li class="post-date">@item.Address.State @item.Address.Country.Country_Name @item.Address.Zipcode</li>
                                        </ul>}
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Branch.Branch_Name)
                                    </td>
                                     <td>
                                        @{
                                            List<StormWeb.Models.Application> applicationCount = item.Students.SingleOrDefault().Applications.ToList();
                                            
                                            foreach(StormWeb.Models.Application app in applicationCount)
                                            {
                                                <div>@app.Course.Course_Name</div>
                                                <div>@app.Course.Faculty.University.University_Name</div><br />
                                            }
                                        }
                                      
                                    </td>
                                    <td>
                                                @{                                                    
                                                    
                                                    foreach(StormWeb.Models.Application app in applicationCount)
                                                    {
                                                        <div class="alert alert-success">
                                                          @StormWeb.Controllers.ApplicationController.getProgressDescription(@app.Status)
                                                        </div>
                                                    }
                                    }
                                                
                                            </td>
                                   
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="span4">    
                @Html.Partial("~/Views/Advertisement/Partial/_ScrollingMarketing.cshtml", (IEnumerable<StormWeb.Models.Advertisement>) ViewBag.Ads)
    </div>
   
     @if (CookieHelper.isAssociate())
     {
     <div class="span4" style="margin-left: 10;">    
       @Html.Partial("~/Views/Event/Partial/_ScrollingEvent.cshtml", (IEnumerable<StormWeb.Models.Event>)ViewBag.eve)
    </div>
     }
    
</div>


