@model StormWeb.Models.ApplicationDocumentViewModel
<div class="document-step">
    <div class="page-header">
        <h1>
            &nbsp;&nbsp;@Model.app.Course.Course_Name <small>@Model.app.Course.Faculty.University.University_Name</small>
            <div class="pull-right">
            @if (Model.app.Application_Cancel != null)
            {
                if (Model.app.Application_Cancel.Status == true)
                {
                <a class="btn btn-danger tip-top disable" href="#" id="btnCancelApplicationsend(@Model.app.Application_Id)"  disabled="disabled">
                    Request sent</a> 
                }
            }
            else
            {
                if (StormWeb.Controllers.ApplicationController.getProgressValue(Model.app.Status) < 60)
                {
                   @: @Html.Button_Delete("Cancel this application", @Url.Action("CancelApplication", "Application", new { id = Model.app.Application_Id, comment = "Request for cancellation" }))
                }
            }
            </div>
        </h1>
    </div>
    <div class="box-tab">
        <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" id="app@(Model.app.Application_Id)">
                <li class="active"><a href="#app@(Model.app.Application_Id)Step1" data-toggle="tab">
                    <strong>Step 1</strong> - Complete your documents</a></li>
                @if (Model.step1Complete())
                {
                    <li><a href="#app@(Model.app.Application_Id)Step2" data-toggle="tab"><strong>Step 2</strong>
                        - Documents approval & submission</a></li>
                    if (Model.step2Complete())
                    {
                    <li><a href="#app@(Model.app.Application_Id)Step3" data-toggle="tab"><strong>Step 3</strong>
                        - Offer Letter & Acceptance</a></li>
                        if (Model.step3Complete())
                        {
                    <li><a href="#app@(Model.app.Application_Id)Step4" data-toggle="tab"><strong>Step 4</strong>
                        - Payment</a></li> 
                            if (Model.step4Complete())
                            {
                    <li><a href="#app@(Model.app.Application_Id)Step5" data-toggle="tab"><strong>Step 5</strong>
                        - Confirmation of Enrolment</a></li>
                            }
                        }
                    }
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="app@(Model.app.Application_Id)Step1">
                    <div class="complete-documents" style="margin-left: 20px;">
                        <div class="alert alert-info">
                            Some of following documents require you to download the form and upload them after
                            you finished filling the forms. (Example: @Html.Link_DownloadFile("Sample file", "#"))
                        </div>
                        @if (!Model.step1Complete())
                        {
                            <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Documents to complete                        
                                    </h1>              
                                </div>
                        }
                        @foreach (StormWeb.Models.Template_Document appDoc in Model.notCompleted)
                        {
                            <div class="document row">
                                <div class="document-action">
                                    @Html.Button_Upload("Upload", @Url.Action("UploadCaseDoc", new { Doc_Id = Model.app.Application_Id, Template_Id = appDoc.TemplateDoc_Id, doctype = "ApplicationDocument", caseId = Model.app.Case_Id }))
                                </div>
                                <div class="document-label">
                                    @if (appDoc.FileName != "No File")
                                    {
                                        @Html.Link_DownloadFile(appDoc.Form_Name, @Url.Action("DownloadTempDoc", new { id = appDoc.TemplateDoc_Id }))
                                    }
                                    else
                                    {
                                        <text>@appDoc.Form_Name</text>
                                    }
                                    <p>@appDoc.Comment</p>
                                </div>
                            </div>
                        }
                        @foreach (StormWeb.Models.CaseDocument caseDoc in Model.notCompletedGeneralDocs)
                        {
                        
                            <div class="document row">
                                <div class="document-action">
                                    @Html.Button_Upload("Upload", @Url.Action("UploadCaseDoc", new { Doc_Id = Model.app.Application_Id, Template_Id = caseDoc.CaseDocTemplate_Id, doctype = "CaseDocument", caseId = Model.app.Case_Id }))
                                </div>
                                <div class="document-label">
                                    @if (caseDoc.CaseDoc_Template.FileName != null)
                                    {
                                        @Html.Link_DownloadFile(caseDoc.CaseDoc_Template.Name, @Url.Action("DownloadCaseTemp", new { id = caseDoc.CaseDocTemplate_Id }))
                                    }
                                    else
                                    {
                                        <text>@caseDoc.CaseDoc_Template.Name</text>
                                    }
                                    <p>@caseDoc.CaseDoc_Template.Comment</p>
                                </div>
                            </div>
                        }
                        <!-- Completed Documents begin -->
                        <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Completed Documents                        
                                    </h1>              
                                </div>
                        <div class="">
                            <div class="document-action">
                                <h4>
                                    Uploaded file</h4>
                            </div>
                            <div class="document-label">
                                <h4>
                                    Required document</h4>
                            </div>
                        </div>
                        @foreach (StormWeb.Models.Application_Document appDoc in Model.completed)
                        {                        
                            <div class="document ">
                                <div class="document-action">
                                    @Html.Button_Download("Download", @Url.Action("DownloadAppDoc", new { id = appDoc.ApplicationDoc_Id }))
                                    @if ((bool)appDoc.Approved == false && !Model.step2Complete())
                                    {
                                        @Html.Button_Delete("Delete", @Url.Action("DeleteAppDoc", new { id = appDoc.ApplicationDoc_Id }))
                                    }
                                </div>
                                <div class="document-label">
                                    @if (appDoc.Template_Document.FileName != "No File")
                                    {
                                        @Html.Link_DownloadFile(appDoc.Template_Document.Form_Name, @Url.Action("DownloadTempDoc", new { id = appDoc.TemplateDoc_Id }))
                                    }
                                    else
                                    {
                                        <text>@appDoc.Template_Document.Form_Name</text>
                                    }
                                    <p>@appDoc.Template_Document.Comment</p>
                                </div>
                            </div>
                        }
                        @foreach (StormWeb.Models.CaseDocument caseDoc in Model.completedGeneralDocs)
                        {
                            <div class="document">
                                <div class="document-action">
                                    @Html.Button_Download("Download", @Url.Action("DownloadCaseDoc", new { id = caseDoc.CaseDocument_Id }))
                                    @if (!Model.step2Complete())
                                    {
                                        @Html.Button_Delete("Delete", @Url.Action("DeleteCaseDoc", new { id = caseDoc.CaseDocument_Id }))
                                    }
                                </div>
                                <div class="document-label">
                                    @if (caseDoc.CaseDoc_Template.FileName != null)
                                    {
                                        @Html.Link_DownloadFile(caseDoc.CaseDoc_Template.Name, @Url.Action("DownloadCaseTemp", new { id = caseDoc.CaseDocTemplate_Id }))
                                    }
                                    else
                                    {
                                        <text>@caseDoc.CaseDoc_Template.Name</text>
                                    }
                                    <p>@caseDoc.CaseDoc_Template.Comment</p>
                                </div>
                            </div>                        
                        }
                        <!-- End of Completed Documents -->
                        @if (StormWeb.Controllers.DocumentController.isAllApplicationDocumentsUploaded(Model.app.Application_Id) && StormWeb.Controllers.DocumentController.isAllCaseDocumentsUploaded(Model.app.Case_Id))
                        {
                            <div class="">
                                <div class="alert alert-success" style="text-align: center">
                                    All required documents have been uploaded</div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Step Number 2 -->
                @if (Model.step1Complete())
                { 
                    <div class="tab-pane" id="app@(Model.app.Application_Id)Step2">
                        <div class="row document-approval well">
                        <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Documents approval                        
                                    </h1>              
                                </div>
                            <!-- Document approval -->
                            @{
                    int countUnapproved = StormWeb.Models.ModelHelper.DocumentHelper.getUnApprovedDocs(Model.app.Application_Id);
                                <div class="custom-well">
                                    @if (countUnapproved <= 0)
                                    {
                                        <strong>Documents approval status: <span class="badge badge-success">Approved </span>
                                        </strong>
                            
                                    }
                                    else
                                    {   <strong>Documents approval status: <span class="badge badge-warning">Pending </span>
                                </strong>
                                        <div class="alert alert-warning" style="margin: 10px">
                                            Your documents are under counsellor assessment to ensure all your documents are
                                            ready for submission</div>
                                    }
                                </div>
                                <!-- End of Document Approval -->
                        
                                <!-- Application Submission -->
                                <div class="custom-well">
                                    <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Application Submission                        
                                    </h1>              
                                </div>
                                    @if (countUnapproved > 0)
                                    {
                                        <strong>Application submission status: <span class="badge badge-important">Waiting for
                                        documents verification </span></strong>
                                    }
                                    else if (StormWeb.Controllers.ApplicationController.getApplicationStatusTypeValue(Model.app.Status) >= StormWeb.Controllers.ApplicationController.getApplicationStatusTypeValue(StormWeb.Controllers.ApplicationController.ApplicationStatusType.Application_Submitted.ToString()))
                                    {
                                        <strong>Application submission status: <span class="badge badge-success">Application
                                        Submitted </span></strong>
                                    }
                                    else
                                    {
                                        <strong>Application submission status: <span class="badge badge-warning">Application
                                        Pending </span></strong>
                                    }
                                </div>                                                   
                                <!-- End of Application Submission -->
                            }
                        </div>
                    </div>
                } 
                <!-- Step number 3 begin -->
                @if (Model.step2Complete())
                { 
                    <div class="tab-pane" id="app@(Model.app.Application_Id)Step3">
                        <div class="row document-approval well">
                            <!-- Application Interview -->
                            <div class="custom-well">
                                <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Interview                        
                                    </h1>              
                                </div>
                                <strong>Storm Interview:
                                    @if (Model.app.Interview_Storm)
                                    {<span class="badge badge-success"> Done </span>}
                                    else
                                    {<span class="badge badge-warning"> Pending </span>}</strong>
                                <br />
                                <strong>Application Interview:
                                    @if (Model.app.Interview_Storm)
                                    {<span class="badge badge-success"> Done </span>}
                                    else
                                    {<span class="badge badge-warning"> Pending </span>}</strong>
                                @if (!(Model.app.Interview_Institution && Model.app.Interview_Storm))
                                {
                                    <div class="alert alert-info" style="margin: 10px;">
                                        <strong>You are required to take an interview session with Storm AND the university
                                            that you are applying for. Please consult your counsellor: @Model.app.Case.Case_Staff.FirstOrDefault().Staff.FirstName
                                        </strong>
                                    </div>
                                }
                                <!-- End of Application Interview -->
                            </div>
                            <!-- Offer letter Begin -->
                            @{
                                <div class="custom-well">
                                    <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Offer Letter                        
                                    </h1>              
                                </div>
                                @if (Model.offer == null)
                                {
                                    <strong style="color: #A00000">Your university of choice have not issued your offer
                                        letter yet</strong>
                                }
                                else
                                {
                                    <strong>Your offer letter is issued, please download at the next step. </strong>
                                }
                                </div>
                                
                            }
                            <!-- Offer letter Ends -->
                        </div>
                    </div>
                }
                <!-- Step number 4 begin -->   
                @if (Model.step3Complete())
                {                
                    <div class="tab-pane" id="app@(Model.app.Application_Id)Step4">
                        
                        <!-- Download Offer Letter Begin -->
                        
                    <div class="custom-well" >
                        <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Download your offer letter                        
                                    </h1>              
                                </div>
                     <ul>                        
                        <li>Your offer letter is ready: @Html.Link_DownloadFile("Offer Letter", @Url.Action("DownloadOfferLetter", new { id = Model.app.Application_Id, type = "appId" }))</li>
                        <!--<li>@Html.Link_DownloadFile("Acceptance Form", @Url.Action("DownloadAcceptance", new { id = Model.app.Application_Id, type = "appId" }))</li>-->
                     </ul>
                     </div>
                     <!-- End of  Offer Letter -->
                        <div class="custom-well payment-step" style="height: 330px;">
                                <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Payment                        
                                    </h1>              
                                </div>
                              @using (Html.BeginForm("Lists", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
                              {

                                  if (Model.app.Payments.Count() <= 0 || Model.app.Payments.FirstOrDefault().Amount == 0 || Model.app.Payments.FirstOrDefault().Amount == null)
                                  { 
                                       <div class="alert alert-warning">
                                            Please <strong>wait</strong> for  your counsellor to update the payment information.
                                        </div>
                                  }
                                  else
                                  { 
                                      string paymentId = Model.app.Application_Id + "Payment_Method";
                                      string currencyId = Model.app.Application_Id + "Currency";
                                      string amountId = Model.app.Application_Id + "Amount";
                                      string dateId = Model.app.Application_Id + "Date_Of_Payment";
                                      string pay = Model.app.Payments.FirstOrDefault().Payment_Method;
                                      string cur = Model.app.Payments.FirstOrDefault().Currency;
                                      string amou = Model.app.Payments.FirstOrDefault().Amount.ToString();
                                      string dat = Model.app.Payments.FirstOrDefault().Date_Of_Payment.ToString();

                                      string receiptId = Model.app.Application_Id + "Receipt_No"; 
                                      
                                 @Html.HiddenFor(x => x.app.Payments.FirstOrDefault().Application_Id)
                            <div class="well pull-right" style="width: 50%;">
                                You <strong>HAVE</strong> to provide the scanned/electronic receipt as proof of payment. Note that it will take some time for our staff to confirm your payment.
                            </div>
                                  <div class="pull-right" style="width: 50%;">
                                  <div class="box-tab">
                                    <div class="page-header">
                                        <h1>
                                            &nbsp; &nbsp;Payment Details</h1>
                                    </div>
                          
                                    <div class="widget-content">
                                        <div class="widget-box">
                                            <br /> 
                                            <table class="table"> 
                                                <tr>
                                                    <th>Bank Name :</th> 
                                                    <td>@ViewBag.BankName </td> 
                                                </tr> 
                                                <tr>
                                                    <th>Account Name :</th>
                                                    <td>@ViewBag.AccountName</td>
                                                </tr>
                                                 <tr>
                                                    <th>BSB :</th>
                                                    <td>@ViewBag.BSB</td>
                                                </tr>
                                                <tr>
                                                    <th>Account Number :</th>
                                                    <td>@ViewBag.AccountNumber</td>
                                                </tr>
                                            </table></div></div></div>
                                 
                                 
                            </div>
                            <table style="text-align: left;">
                                <tr>
                                    <th>@Html.Label(" Payment Method ")
                                    </th>
                                    <td>
                                       @* @Html.TextBoxFor(x => x.app.Payments.FirstOrDefault().Payment_Method, new { @class = "text-tip", placeholder = "Payment Method" })*@
                                       <input class="text-tip" id="@paymentId" name="Payment_Method" placeholder="Payment Method" type="text" value="@pay" data-original-title=""/>
                                        <div id="spErrorMessagePayment_Method@(Model.app.Application_Id)" class="error" style="display: none;">
                                            * Please Enter Your Payment method</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.Label(" Currency ")
                                    </th>
                                    <td>
                                        @Html.TextBoxFor(x => x.app.Payments.FirstOrDefault().Currency, new { @class = "text-tip", @readonly = "readonly", placeholder = "Currency" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.Label(" Amount ")
                                    </th>
                                    <td>
                                        @Html.TextBoxFor(x => x.app.Payments.FirstOrDefault().Amount, new { @class = "text-tip", @readonly = "readonly", placeholder = "Amount" })
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.Label(" Receipt File ")
                                    </th>
                                    <td>
                                     @if (!StormWeb.Controllers.DocumentController.fileExists(Model.app.Application_Id))
                                     {  
                                       <div class="input-append" id="divdate" style="display:inline;">   <input type="file" id="@receiptId" name="Receipt_No"  /></div>
                                           <div id="spErrorMessagereceipt@(Model.app.Application_Id)" class="error" style="display: none;">
                                            * Please upload Your Payment receipt file</div>
                                     }
                                     else
                                     {
                                         string value = StormWeb.Controllers.DocumentController.GetFileName(Model.app.Application_Id);
                                         string[] filename = value.Split('/');
                                       @Html.Link_DownloadFile(filename[2], @Url.Action("DownloadPaymentReceipt", new { id = StormWeb.Controllers.DocumentController.GetFileId(Model.app.Application_Id) }))
                                  //if(!Model.step4Complete()){
                                            <a class='color-icons cross_co tip-top' data-original-title='Delete' data-toggle='modal' href='#myModal@(Model.app.Application_Id)'></a>
                                         // }

                                     } 
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.Label(" Date Of Payment ")
                                    </th>
                                    <td>
                                        @{
                                   string id = Model.app.Application_Id + "Date_Of_Payment";

                                        }
                                     @*   <div class="input-append">
                                             @Html.TextBoxFor(x => x.app.Payments.FirstOrDefault().Date_Of_Payment, new { @class = "chooseDate", @readonly = "readonly" })
                                         
                                        </div> *@   
                                        <div class="input-append">
                                             <input class="chooseDate" id="@dateId" name="Date_Of_Payment" readonly="readonly" type="text" value="@dat" />  
                                              <div id="spErrorDateOfPayment@(Model.app.Application_Id)" class="error" style="display: none;">
                                            * Please Enter Your Date Of Payment</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                    </th>
                                    <td>
                                      @*  @if (StormWeb.Controllers.DocumentController.fileExists(Model.app.Application_Id))
                                        {  
                                            <input  type="submit" value="Waiting for Confirmation" class="btn btn-info" disabled="disabled"/> 
                                        }
                                        else
                                        {*@
                                            <input  type="submit" id="submit@(Model.app.Application_Id)" value="Submit" class="btn btn-info" onclick="return checkPayment('@Model.app.Application_Id,@StormWeb.Controllers.DocumentController.fileExists(Model.app.Application_Id)');"/> 
                                      @*  }*@
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"> <br />
                                     @if (StormWeb.Controllers.DocumentController.fileExists(Model.app.Application_Id))
                                     {   
                                           <div class="alert alert-warning">
                                    Please <strong>wait</strong> for  your counsellor to verify the document
                                </div>
                                     }
                                    </td>
                                </tr>
                            </table>
                                  }
                              }
                               <script type="text/javascript">
                                   function checkPayment(values) {  
                                    var val=values.split(",");
                                    var isValid = true;
                                    var Receipt_No = val[0] + "Receipt_No";
                                    var Payment_Method = val[0] + "Payment_Method"; 
                                    var Date_Of_Payment = val[0] + "Date_Of_Payment";  
                                    var fileexists = val[1];
                                    if (fileexists == "False") {
                                         if (document.getElementById(Receipt_No).value == "" || document.getElementById(Receipt_No).value == null) {
                                            document.getElementById("spErrorMessagereceipt" + val[0]).style.display = 'inline';
                                            isValid = false;
                                        }
                                    }
                                    if (document.getElementById(Payment_Method).value == "" || document.getElementById(Payment_Method).value == null) {
                                        document.getElementById("spErrorMessagePayment_Method" + val[0]).style.display = 'inline';
                                        isValid = false;
                                    }
                                    if (document.getElementById(Date_Of_Payment).value == "" || document.getElementById(Date_Of_Payment).value == null) {
                                        document.getElementById("spErrorDateOfPayment" + val[0]).style.display = 'inline';
                                        isValid = false;
                                    }


                                    if (isValid == true) 
                                        return true; 
                                    else
                                        return false;
                                }   
                            </script> 
                
                               @using (Html.BeginForm())
                               {   
                                    <div class="modal hide fade" id="myModal@(Model.app.Application_Id)">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                ×</button>
                                            <h3>
                                                Delete Branch Details @Model.app.Application_Id</h3>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Are you sure you want to delete this File ?
                                               
                                            </p> 
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn" data-dismiss="modal" id="dismissModal">No</a>
                                          @*  <input type="submit" class="btn btn-modal" id="save" type="submit" value="Yes" />*@
                                          @Html.ActionLink("Yes", "DeletePaymentFile", new { id = Model.app.Application_Id, page = "document" }, new { @class = "btn" }) 
                                        </div>
                                    </div>
                               }

                          
                        </div>
                    </div>
                }
                <!-- Step number 5 begin -->   
                @if (Model.step4Complete())
                {
                     <div class="tab-pane" id="app@(Model.app.Application_Id)Step5">
                     <div class="custom-well" >
                        <div class="page-header">
                                    <h1>
                                        &nbsp;&nbsp;Acceptance                
                                    </h1>              
                                </div>
                     @if (Model.acceptance == null)
                     {
                            <div class="alert alert-warning">
                                    Please <strong>wait</strong> for  your counsellor to Upload the document
                                </div>
                     }
                     else if (Model.completedAcceptance == null)
                     {
                         <div class="row document-approval well">
                            <!-- Application Interview -->
                            <div class="custom-well"> 
                         
                          @{    
                         string value = StormWeb.Controllers.DocumentController.GetAcceptanceFileName(Model.app.Application_Id);
                         string[] filename = value.Split('/');
                        
                       <span> Your Acceptance Form : </span>   @Html.Link_DownloadFile(filename[2], @Url.Action("DownloadAcceptanceform", new { id = StormWeb.Controllers.DocumentController.GetAcceptanceFileId(Model.app.Application_Id) }))
                           
                         <br /> <br /> 
                                      
                           @Html.Button_Upload("Upload Acceptance", @Url.Action("UploadApplicationResult", new { Doc_Id = Model.app.Application_Id, case_Id = Model.app.Case_Id, doctype = "CompletedAcceptance" }), new { @class = "btn btn-primary btn-large iframe-small" })
                     }
                           </div>    </div>
                     }
                     else
                     {
                                <div class="alert alert-success" style="text-align:center">
                                    Your have uploaded Acceptance form <br />@Html.Button_Download("Download", @Url.Action("DownloadCompletedAcceptance", new { id = Model.app.Application_Id, type = "appId" }))
                                </div>
                     }
                     </div>
                    @if (Model.completedAcceptance != null)
                    {
                        <div class="row document-approval well">
                            @if (Model.coe == null)
                            {
                                <div class="custom-well">
                                    <strong style="color: #A00000">Your university of choice have not issued your Confirmation
                                        of Enrolment yet</strong>
                                </div>
                            }
                            else
                            {
                                <div class="custom-well">
                                    <strong>Your CoE is issued: </strong>
                                    @Html.Button_Download("Download Confirmation of Enrolment", @Url.Action("DownloadCoE", new { id = Model.app.Application_Id, type = "appId" }))
                                </div>
                                <div class="custom-well">
                                    <strong>Reminder:</strong>
                                    There may be still some further steps required to complete your application to this course, in which case our counsellor will be in immediate contact with you.
                                </div>
                            }
                        </div>
                   
                    } </div>
                }
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        var countStep = $('a[href*="#app@(Model.app.Application_Id)Step"]').length;

        var lastStep = $('#app@(Model.app.Application_Id) a[href="#app@(Model.app.Application_Id)Step' + countStep + '"]');

        lastStep.tab('show');
        lastStep.addClass('tab-background-orange');
        //Select tab by name 
    }); 
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".chooseDate").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true,
            minDate: '-100Y',
            maxDate: '100Y',
            showOn: "button",
            buttonImage: "../../Content/img/calendar_btn.png",
            buttonImageOnly: true
        });
    });
     

</script>
