@model StormWeb.Models.Appointment
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml"; 
}

<script type="text/javascript">
    $(document).ready(function () {
        // For DatePicker
        $(".chooseDate").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true,
            minDate: '0',
            maxDate: '+3M'
        });
    });
</script>

@using (Html.BeginForm("Create", "Appointment", FormMethod.Post, new { @class = "form-horizontal well", id = "appointmentForm" }))
{
    @Html.ValidationSummary(true, "Create was unsuccessful. Please correct errors and try again")
    <fieldset>
        <legend>Book Appointment</legend>
        <table style="text-align: left;margin-left: 25px">
            <thead>
                    @if (StormWeb.Helper.CookieHelper.isStaff())
                    {
                     <tr>
                        <th>
                            @Html.Label("Student")
                        </th>
        
                        <td>
                        @if (ViewBag.specificStudent != null)
                        {
                            @Html.TextBox("staffSpecificStudent", (string)ViewBag.specificStudent, new {  @readonly = "readonly" });
                        }
                        else
                        {
                            @Html.DropDownList("staffSpecificStudent", ViewBag.staffSpecificStudent as SelectList,"Select Student")
                            @Html.ValidationMessage("StudentEmpty")
                        }
                        </td> 
                    </tr>
                    }
                <tr style="height:10px"></tr>
                <tr>
                    <th>
                        @Html.Label("Branch Name")
                    </th>
                    <td>
                        @{ 
                           <text>@StormWeb.Helper.BranchHelper.getBranchListFromCookie().First().Branch_Name</text>
                        }
                    </td>
                </tr>
                <tr style="height:10px"></tr>
                <tr>
                    <th>
                        @Html.Label("Choose Time(Hour:Minute)")
                    </th>
                    <td>
                        @Html.DropDownList("listHours", ViewBag.Hours as SelectList,"Select Hour")&nbsp;&nbsp;:&nbsp;&nbsp;@Html.DropDownList("listMinutes", ViewBag.Minutes as SelectList,"Select Minutes")
                        @Html.ValidationMessage("HourMinuteError")
                    </td>
                </tr>
                <tr style="height:10px"></tr>
                <tr>
                    <th>
                        @Html.Label("Select Date")
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.AppDateTime, new { @class = "chooseDate", @readonly = "readonly" })
                        @Html.ValidationMessage("AppDateTime")
                        @Html.ValidationMessage("DateEmpty")
                        @Html.ValidationMessage("DateSelection")
                    </td>
                </tr>
                <tr style="height:10px"></tr>
                <tr>
                    <th>
                        @Html.Label("Comments")
                    </th>
                    <td>
                        @Html.TextAreaFor(model => model.Comments)
                        @Html.ValidationMessageFor(model => model.Comments)
                    </td>
                </tr>
                <tr style="height:10px"></tr>
                <tr>
                    <th></th>
                    <td align="center">
                        <input id="create" type="submit" value="Create" />
                    </td>
                </tr>
            </thead>
            <tfoot>
                    <tr style="height:10px"></tr>
                    <tr>
                    <td colspan="2">
                           
                            <div class="alert alert-info fade in">
								<button data-dismiss="alert" class="close" type="button">×</button>
								<strong>NB</strong> Call and confirm with students.
							</div>
                        </td>
                    </tr>
                    </tfoot>
        </table>
    </fieldset>
    

} 



