@model IEnumerable<StormWeb.Models.Application>
@{
    ViewBag.Title = "Document Page";
    
    <h2>@ViewBag.Message</h2>
          
}

<h5>@ViewBag.Message</h5>
<h2>Applications' Documents Of : @ViewBag.studentName</h2>
@Html.ValidationSummary(true)

@* The First Table*@
<div class="row-fluid">
    <div class="span11">
        <div class="widget-block">
            <div class="widget-head">
                <h5>
                </h5>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <div class="well white-box">
                        <p>
                            <table class="data-tbl-boxy table">

                                @foreach (var item in Model)
                                {
                                    
                                    <tr>
                                        <td>
                                            <h3>
                                                Course Name:
                                                @Html.DisplayFor(modelItem => item.Course.Course_Name)</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Form Name
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Document
                                        </th>
                                        <th>
                                            Comment
                                        </th>
                                    </tr>


                                           foreach (var appDoc in item.Application_Document)
                                           {
  
                                    
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => appDoc.Template_Document.Form_Name)                                             
                                          <a href="@Url.Action("DownloadFile", new { id = appDoc.TemplateDoc_Id })" class='white-icons download_to_computer tip-top' data-original-title="Download"></a>
                                       </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => appDoc.Template_Document.Comment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date_Of_ApplicationStatus, "ShortDateTime")
                                        </td>
                                        <td>
                                            @if (appDoc.Path == null || appDoc.Path == String.Empty)
                                            {
                                                <text><span STYLE=" color: red; "> Not Uploaded </text>
@*                                               <a class='iframe' href="@Url.Action("UploadFile", new { id = appDoc.ApplicationDoc_Id })" title="Upload"><i class='color-icons drive_cd_empty_co tip-top' data-original-title="Upload"></i></a>
                                             
                                                 @Html.ActionLink("Upload File", "UploadFile", new { id = appDoc.ApplicationDoc_Id }) 
*@                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => appDoc.FileName)
                                                <a href="@Url.Action("DownloadFile1", new { id = appDoc.ApplicationDoc_Id })" class='white-icons download_to_computer tip-top' data-original-title="Download"></a>
                                                
@*                                                <a href="@Url.Action("Delete", new { id = appDoc.ApplicationDoc_Id })" class='color-icons cancel_co tip-top' data-original-title="Delete"></a>
                                              @Html.ActionLink("Download file", "DownloadFile1", new { id = appDoc.ApplicationDoc_Id }) 
*@
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => appDoc.Comment)
                                        </td>
                                    </tr>

                                    
                                           }

                                }
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 @* The second table
*@
<div class="row-fluid">
    <div class="span11">
        <div class="widget-block">
            <div class="widget-head">
                <h5>
                    General Documents   
</h5>

            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <div class="well white-box">
                        <h3>
                        </h3>
                        <p>
                            <table class="data-tbl-boxy table">
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Details
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Document
                                    </th>
                                    <th>
                                        Comment
                                    </th>
                                </tr>
                                <div>
                                    @{
                                        List<StormWeb.Models.CaseDocument> caseDocList = (List<StormWeb.Models.CaseDocument>)ViewBag.casedocs;

                                        foreach (StormWeb.Models.CaseDocument item in caseDocList)
                                        {
                                            ////var appDoc in item.Application_Document)
                                            //foreach (var caseDoc in item.CaseDocuments)
                                            //{                                        
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CaseDoc_Template.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CaseDoc_Template.Comment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UploadedOn)
                                            </td>
                                            <td>
                                                @if (!(item.Path == null || item.Path == string.Empty))
                                                {
                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                <a href="@Url.Action("DownloadFile2", new { id = item.CaseDocument_Id })" class='white-icons download_to_computer tip-top' data-original-title="Download"></a>
@*                                                <a href="@Url.Action("Delete1", new { id = item.CaseDocument_Id })" class='color-icons cancel_co tip-top'      data-original-title="Delete"></a>
*@
                                                }
                                                else
                                                {
                                                    <text><span STYLE=" color: red; ">Not Uploaded</span></text>
@*                                                     <a href="@Url.Action("UploadFileCase", new { id = item.CaseDocument_Id })" class='color-icons drive_cd_empty_co tip-top' data-original-title="Upload"></a>
*@
                                                     
@*                                                     @Html.ActionLink("Upload File", "UploadFileCase", new { id = caseDoc.CaseDocument_Id }) 
*@                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comment)
                                            </td>
                                            <td>
                                            </td>
                                        </tr>                   

                                            }
@*                                        }
*@                                    }
                                </div>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 <a href="@Url.Action("ShowAllCaseTemplates")" class='btn tip-top' data-original-title="Show General Templates">Show Document Templates</a>

<script type="text/javascript">
@{

    if (ViewBag.Message != null)
    {
    @:$(function () {
    @:var noty_id = noty({
			@:layout : 'top',
			@:text: "@ViewBag.Message",
			@:type:'success',
			
			 @:});
		  @:});

    }
}
</script>
