@model IEnumerable<StormWeb.Models.CaseDoc_Template>
@{
    ViewBag.Title = "ShowAllCaseTemplates";
}
<script type="text/javascript">

    $(function () {
        $(".iframe").colorbox({ iframe: true, width: "400px", height: "500px" });
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            show: "blind",
            hide: "explode"
        });


        $("#openCreateCaseTemp").click(function () {
            $("#dialog").dialog("open");
            return false;
        });

    });

</script>
 
<p>
    @*  <a id="openCreateCaseTemp"><i class="color-icons application_add_co"></i>New Template</a>

<div id="dialog" title="Basic dialog">
	 @Html.Partial("CreateCaseTemp", new StormWeb.Models.CaseDoc_Template())
</div>

*@
</p>
@using (Html.BeginForm())
{


    <div class="row-fluid">
        <div class="span12">
          @*  <div class="widget-block">
                <div class="widget-head">
                    <h5> General Document Templates
                    </h5>
                </div>*@
                 <div class="box-tab"> 
             <div class="page-header">
                 <h1>
                       &nbsp;&nbsp;General Document Templates
                        
                   </h1>
                    </div>
                <div class="widget-content">
                    <div class="widget-box">
                      <div class="widget-box" style="padding: 15px;"> 
                    <table class="data-tbl-simple table table-bordered dataTable">
                                   <thead>
                                    <tr>
                                        <th>
                                            Form Name
                                        </th>
                                        <th>
                                            File Name
                                        </th>
                                        <th>
                                            Added On
                                        </th>
                                        <th>
                                            Added By
                                        </th>
                                        <th>
                                            Comment
                                        </th>
                                        <th>
                                            Required
                                        </th>
                                        <th>
                                            <i class="color-icons hammer_screwdriver_co"></i>Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @if (item.Downloadable)
                                                {
                                                    @Html.Link_DownloadFile(item.FileName, @Url.Action("DownloadCaseDocTemp", new { id = item.CaseDocTemplate_Id }))
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.FileName)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UploadedOn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UploadedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Required)
                                            </td>
                                            <td>
                                                <a  href="@Url.Action("EditCaseTemp", new { id = item.CaseDocTemplate_Id, returnId = ViewBag.clientId })" class='iframe color-icons pencil_co tip-top' data-original-title="Edit Document Template">
                                                </a><a class=" color-icons cross_co tip-top" data-original-title="Delete" data-toggle="modal"
                                                        href="#myModal@(item.CaseDocTemplate_Id)"></a>
                                                <div class="modal hide fade" id="myModal@(item.CaseDocTemplate_Id)" style="display: none;">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            ×</button>
                                                        <h3>
                                                            Confirm</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Confirm Delete?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="@Url.Action("DeleteCaseTemp", new { id = item.CaseDocTemplate_Id, returnId = ViewBag.clientId })" class="btn btn-mini btn-warning">
                                                            Delete</a> <a href="#" id="dimissModal" class="btn btn-mini btn-info" data-dismiss="modal">
                                                                Cancel</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </table> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <p>
        @Html.Button_Add_iframe("Create New", Url.Action("CreateCaseTemp"))
    </p>   

                                               
}
<script type="text/javascript">
@{

    if (ViewBag.message != null)
    {
    @:$(function () {
    @:var noty_id = noty({
			@:layout : 'top',
			@:text: "@ViewBag.message",
			@:type:'success',
			
			 @:});
		  @:});

    }
}
</script>
