@model IEnumerable<StormWeb.Models.Application>
@{
    ViewBag.Title = "Document Page";
    
          
}
<script type="text/javascript">
    $(function () {

        $(".myFrame").colorbox({ iframe: true, width: "400px", height: "300px" });

        $(document).bind('cbox_closed', function () {
                   
            parent.location.reload();
        });
                  
    });


</script>


@Html.ValidationSummary(true)
@* The First Table*@

<div class="row-fluid">
    <div class="span12">        
        <div class="nonboxy-widget">
          <div class="widget-head">
            <h5><i class="black-icons  user"></i> Applications Of : @ViewBag.studentName</h5>
          </div>
          <div class="widget-content">
            <div class="widget-box">
                <table class="my-data-tbl-boxy table">
                        <thead>
                            <tr>
                                <th>
                                    <i class="color-icons application_double_co"></i>Application Info
                                </th>
                                <th>
                                    <i class="color-icons application_cascade_co"></i>Forms
                                </th> 
                                <th>
                                    <i class="color-icons magnifier_co"></i>Details
                                </th> 
                                <th>
                                    <i class="color-icons calendar_1_co"></i>Date
                                </th>
                                <th>
                                    <i class="color-icons page_2_copy_co"></i>Documents
                                </th>
                                 <th>
                                    <i class="color-icons comment_co"></i>Comment
                                </th>
                                 <th>
                                    <i class="color-icons hammer_screwdriver_co "></i>Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                StormWeb.Models.DocumentIndexViewModel documentModel = StormWeb.Controllers.DocumentController.getDocumentViewModelByCourseId((List<StormWeb.Models.DocumentIndexViewModel>)ViewBag.DocumentViewModel, item.Course_Id);

                                <tr>
                                    <td>
                                    <a class='tip-top' title="View course guide" href="#">@Html.DisplayFor(modelItem => item.Course.Course_Name) </a>  <br />                                                                     
                                        @Html.DisplayFor(modelItem => item.Course.Faculty.University.Country.Country_Name)    <br />                            
                                        @Html.DisplayFor(modelItem => item.Course.Faculty.University.University_Name)
                                        <ul>
                                     @if (StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) == 60)
                                                {
                                                       
                                                    <li>
                                                    <a  href="@Url.Action("UploadOfferLetter", new { Doc_Id = item.Application_Id, case_Id = item.Case_Id, doctype = "OfferLetter", studentName = ViewBag.studentName })" class='myFrame black-icons upload tip-top' data-original-title="Upload Offer Letter">
                                                    </a>
                                                    </li>                                                    
                                                }
                                                 @if (StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) == 80)
                                                    {
                                                    <li>
                                                        <div class="widget-content">
                                                            <div class="widget-box">
                                                                <a href="@Url.Action("DownloadOfferLetter", new { id = item.Application_Result.FirstOrDefault().Id })"  target="_blank"  class='black-icons download tip-top' data-original-title="Download Offer Letter">
                                                                </a>
                                                                <a class="color-icons cross_co tip-top" data-original-title="Delete Offer Letter" data-toggle="modal"
                                                                         href="#myModal@(item.Application_Id)"></a>
                                                                <div class="modal hide fade" id="myModal@(item.Application_Id)" style="display: none;">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">
                                                                            ×</button>
                                                                        <h3>
                                                                            Confirm</h3>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>
                                                                            Confirm Delete?
                                                                        </p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="@Url.Action("DeleteOfferLetter", new { id = item.Application_Result.FirstOrDefault().Id, doctype = "OfferLetter", returnId = ViewBag.clientId })" class="btn btn-mini btn-warning">
                                                                            Delete</a> <a href="#" id="dimissModal" class="btn btn-mini btn-info" data-dismiss="modal">
                                                                                Cancel</a>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                         

                                                    </li>
                                                    }
                                                     @if (StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) == 100)
                                                    {
                                                    <li>
                                                        <div class="widget-content">
                                                            <div class="widget-box">
                                                                <a href="@Url.Action("DownloadOfferLetter", new { id = item.Application_Result.FirstOrDefault().Application_Id })"  target="_blank"  class='black-icons download tip-top' data-original-title="Download Offer Letter">
                                                                </a>

                                                            </div>
                                                        </div>
                                                         

                                                    </li>
                                                    }
                                                    @if (StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) == 90)
                                            {
                                                <li>
                                                <a  href="@Url.Action("UploadOfferLetter", new { Doc_Id = item.Application_Id, case_Id = item.Case_Id, doctype = "CoE", studentName = ViewBag.studentName })" class='myFrame black-icons upload tip-top' data-original-title="Upload CoE">
                                                </a>

                                                </li>
                                                        
                                            }
                                                        
                                            @if (StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) > 80 && StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) <= 100)
                                            {
                                                <li>
                                                <div class="widget-content">
                                                    <div class="widget-box">
                                                        <a href="@Url.Action("DownloadOfferLetter", new { id = item.Application_Result.FirstOrDefault().Id })" class='black-icons download tip-top' data-original-title="Download CoE">
                                                        </a>
                                                        <a class="color-icons cross_co tip-top" data-original-title="Delete" data-toggle="modal"
                                                                    href="#myModal@(item.Application_Id)"></a>
                                                        <div class="modal hide fade" id="myModal@(item.Application_Id)" style="display: none;">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">
                                                                    ×</button>
                                                                <h3>
                                                                    Confirm</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>
                                                                    Confirm Delete?
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a href="@Url.Action("DeleteOfferLetter", new { id = item.Application_Result.FirstOrDefault().Id, doctype = "CoE", returnId = ViewBag.clientId })" class="btn btn-mini btn-warning">
                                                                    Delete</a> <a href="#" id="dimissModal" class="btn btn-mini btn-info" data-dismiss="modal">
                                                                        Cancel</a>
                                                            </div>
                                                            </div>
                                                        </div>
                                                </div>

                                            </li>

                                            }
                                                
                                                </ul>
                                        
                                    </td>

                                    <td>
                                    <ul>
                                    @foreach (StormWeb.Models.Template_Document x in documentModel.tempDoc)
                                    {                                       
                                        
                                       StormWeb.Models.Application_Document appDoc = documentModel.getDocFromTemplate(x.TemplateDoc_Id);

                                       if (x.FileName != "No File")
                                           {
                                           <li>
                                            @Html.Link_DownloadFile(x.Form_Name, Url.Action("DownloadTempDoc", new { id = x.TemplateDoc_Id }), new { @class="tip-top", data_original_title="Download Template" })
                                            </li>  
                                           
                                            
                                           }
                                       else
                                       {
                                           <li>@Html.DisplayFor(modelItem => x.Form_Name) </li>
                                       }
                                    }

                                   
                                        
                                       </ul>
                                     </td>

                                    <td>
                                        <ul>
                                   @foreach (StormWeb.Models.Template_Document x in documentModel.tempDoc)
                                   {
                                       if (x.Comment != null)
                                       {
                                           StormWeb.Models.Application_Document appDoc = documentModel.getDocFromTemplate(x.TemplateDoc_Id);
                                            <li>@Html.DisplayFor(modelItem => x.Comment)</li>
                                       }
                                       else
                                       {
                                           <li>&nbsp;</li>
                                       }

                                   }
                                   
                                    </ul>                                            
                                    </td>

                                    <td>
                                    <ul>
                                   @foreach (StormWeb.Models.Template_Document x in documentModel.tempDoc)
                                   {

                                       StormWeb.Models.Application_Document appDoc = documentModel.getDocFromTemplate(x.TemplateDoc_Id);
                                       if (appDoc != null)
                                       {
                                 
                                            <li>@Html.DisplayFor(modelItem => item.Application_Document.FirstOrDefault().UploadedOn, "ShortDateTime") @Html.DisplayFor(modelItem => appDoc.Application.Course_Id)</li>
                                  
                                       }
                                       else
                                       {
                                            <li>&nbsp;</li>
                                       }
                                   }
                                    </ul>
                                    </td>

                                    <td>
                                    <ul>
                                   @foreach (StormWeb.Models.Template_Document x in documentModel.tempDoc)
                                   {

                                       StormWeb.Models.Application_Document appDoc = documentModel.getDocFromTemplate(x.TemplateDoc_Id);
                                       if (appDoc == null)
                                       {
                                 
                                        <li> <a  class='btn btn-danger' href='#'  > Not Uploaded </a></li>                                  
                                       }
                                       else
                                       {
                                        <li>@Html.DisplayFor(modelItem => appDoc.FileName)
                                        <a href="@Url.Action("DownloadAppDoc", new { id = appDoc.ApplicationDoc_Id })"  target="_blank" class='black-icons download tip-top' data-original-title="Download">
                                        </a></li>
                                       }
                                   }

                                    </ul> 
                                        </td>

                                    <td>
                                    <ul>
                                   @foreach (StormWeb.Models.Template_Document x in documentModel.tempDoc)
                                   {

                                       StormWeb.Models.Application_Document appDoc = documentModel.getDocFromTemplate(x.TemplateDoc_Id);
                                       if (appDoc != null)
                                       {
                                 
                                            <li>@Html.DisplayFor(modelItem => appDoc.Comment)</li>
                                  
                                       }
                                       else
                                       {
                                            <li>&nbsp;</li>
                                       }
                                   }
                                    </ul>
                                    </td>

                                    <td>
                                    <ul>
                                   @foreach (StormWeb.Models.Template_Document x in documentModel.tempDoc)
                                   {

                                       StormWeb.Models.Application_Document appDoc = documentModel.getDocFromTemplate(x.TemplateDoc_Id);

                                       if (appDoc != null)
                                       {
                                           if (StormWeb.Controllers.ApplicationController.getProgressValue(item.Status) < 60)
                                           {
                                               if (appDoc.Approved == false)
                                               {
                                                   
                                                <li><a  class='color-icons accept_co tip-top' data-original-title='Approve' href='@Url.Action("ApproveDocument", new { id = appDoc.ApplicationDoc_Id, returnId = ViewBag.clientId })'>  </a></li>
                                               }
                                               else
                                               {
                                                <li><a   class='color-icons cancel_co tip-top' data-original-title='Un Approve' href='@Url.Action("ApproveDocument", new { id = appDoc.ApplicationDoc_Id, returnId = ViewBag.clientId })'> </a></li>
                                               }

                                           }
                                           else
                                           {
                                               
                                                <li><a   class='color-icons lock_co tip-top' data-original-title='Application Submitted' href='#'> </a></li>

                                           }
                                       }
                                   }
                                       </ul>
                                    </td>

                               </tr>
                            }     
                                
                        </tbody>
                    </table>             
            </div>
          </div>
        </div>
    </div>
    
                
</div>




@* The second table*@

<div class="row-fluid">
    <div class="span12">        
        <div class="nonboxy-widget">
          <div class="widget-head">
            <h5>General Documents</h5>
          </div>
 
                  <div class="widget-content">
                    <div class="widget-box">
                        <table class="my-data-tbl-boxy table">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="black-icons document"></i>Name
                                        </th>
                                        <th>
                                            <i class="black-icons magnifying_glass"></i>Details
                                        </th>
                                        <th>
                                            <i class="black-icons day_calendar"></i>Date
                                        </th>
                                
                                        <th>
                                            <i class="black-icons paperclip"></i>Documents
                                        </th>
                                        <th>
                                            <i class="black-icons user_comment"></i>Comment
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                              
                                            @{
                                                List<StormWeb.Models.CaseDocument> caseDoc = (List<StormWeb.Models.CaseDocument>)ViewBag.casedocs;

                                                foreach (StormWeb.Models.CaseDocument items in caseDoc)
                                                {
                                        <tr>
                                            <td>
                                                
                                                        @if (items.CaseDoc_Template.Downloadable == false)
                                                        {
                                                            @Html.DisplayFor(modelItem => items.CaseDoc_Template.Name)
                                                        }
                                                        else
                                                        {
                                                            @Html.Link_DownloadFile(items.CaseDoc_Template.Name, Url.Action("DownloadCaseDocTemp", new { id = items.CaseDocTemplate_Id }), new { @class = "tip-top", data_original_title = "Download" })
                                                         
                                                        }
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => items.CaseDoc_Template.Comment)
                                            </td>

                                            <td>
                                                  @Html.DisplayFor(modelItem => items.UploadedOn)
                                            </td> 
                                    
                                

                                            <td>
                                            @if (!(items.UploadedOn == null))
                                            {
                                                            @Html.DisplayFor(modelItem => items.FileName)
                                                            <a href="@Url.Action("DownloadCaseDoc", new { id = items.CaseDocument_Id })"  target="_blank"  class='black-icons download tip-top' data-original-title="Download">
                                                            </a>
                                            }
                                            else
                                            {
                                                            <a  class='btn btn-danger' href='#'  > Not Uploaded </a>
                                            }

                                            </td>

                                            <td>
                                                  @Html.DisplayFor(modelItem => items.Comment)
                                            </td>

                                        </tr>
                                                }  

                                         }
                       
                       
                        </tbody>
                    </table> 
                          <a  class='btn btn-info' href='@Url.Action("ShowAllCaseTemplates", new { id = ViewBag.clientId })'  > Update General Documents </a>
               
            </div>
          </div>
    </div>
  </div>  
</div>

<script type="text/javascript">
@{

    if (ViewBag.Message != null)
    {
    @:$(function () {
    @:var noty_id = noty({
			@:layout : 'top',
			@:text: "@ViewBag.Message",
			@:type:'success',
			
			 @:});
		  @:});

    }
}

@*******************************************************************************@

@*<script type="text/javascript">
	$(document).ready(function () {
		
	    $('.progress').bar({ value: parseInt(@ViewBag.documents.Count() / @ViewBag.templates.Count() * 100) });
        
        alert ($(".bar").value() );
		});
	});
</script>*@