@{
    ViewBag.Title = "Run Report";
}

<h2></h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("RunReport", "Report",
        FormMethod.Post, new {  enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Report Selection</legend>

@*        @Html.HiddenFor(model => model.TemplateDoc_Id)
*@
           <input type="hidden" value="@ViewBag.Branch_Id" name="Branch_Id" />

        Branch:
        <div class="editor-field">
            @Html.DropDownList("Branch_Id", String.Empty)
        
        </div>
        Date From :
        <div class="editor-field">
            @Html.TextBox("Date_From", DateTime.Now.ToShortDateString(), new { @class = "dp" })
        </div>

        Date To :
        <div class="editor-field">
            @Html.TextBox("Date_To", DateTime.Now.ToShortDateString(), new { @class = "dp" })
        </div>

        <label for="branch">
        Select Report Type :
        </label>
    
            <input type="radio" name="type" value="1" /> 
            
            <input type="radio" name="type" value="2" />
            
            <input type="radio" name="type" value="3" /> 

        <p>
            <input type="submit" value="Run"  />
        </p>
    </fieldset>
}



@*@using (Html.BeginForm("RunReport", "Report", 
        FormMethod.Post, new { id= "edit", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <label for="Date_From">
        Date From:
    </label>
    <input id="Date_From" name="datefrom" value="" />

    <label for="Date_To">
        Date To:
    </label>
    <input id="Date_To" name="dateto" value="" />
    
    <input type="hidden" value="@ViewBag.Course_Id" name="Course_Id" />
    <input type="hidden" value="@ViewBag.Uni_Id" name="Uni_Id" />
   
    <label for="branch">
        Select Branch :
    </label>
    
    <input type="radio" name="branch" value="red" /> 
    <input type="radio" name="branch" value="green" />
    <input type="radio" name="branch" value="blue" /> 
    
    <div style="text-align:center">
    <input class="btn btn-primary" type='submit' id='run_report' value='Run Report' />
    </div>
    
}
*@