@model StormWeb.Models.Staff

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Staff</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dept_Id, "Staff_Dept")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Dept_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Dept_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address_Id, "Address")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Address_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Address_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOB)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOB)
            @Html.ValidationMessageFor(model => model.DOB)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_Of_Joining)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_Of_Joining)
            @Html.ValidationMessageFor(model => model.Date_Of_Joining)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile_Number)
            @Html.ValidationMessageFor(model => model.Mobile_Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tax_Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tax_Type)
            @Html.ValidationMessageFor(model => model.Tax_Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tax_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tax_Number)
            @Html.ValidationMessageFor(model => model.Tax_Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
