@model StormWeb.Models.Staff
@{
    ViewBag.Title = "Index";
}

<script>

$(function () {
    $('.my-data-tbl-boxy').dataTable({
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
						{ "bSortable": false, "aTargets": [ 1,2,3,4 ] }
					],
        "iDisplayLength": 10,
        "oLanguage": {
            "sLengthMenu": "<span class='lenghtMenu'> _MENU_</span><span class='lengthLabel'>Entries per page:</span>",
        },
        "sDom": '<"tbl-searchbox clearfix"fl<"student-staff-button"><"clear">>,<"table_content"t>,<"widget-bottom"p<"clear">>'

    });
    $("div.student-staff-button").html('<a href="@Url.Action("Index", "StudentStaff")" class="btn btn-success">More..</a>');
    $("div.tbl-searchbox select").addClass('tbl_length');

});
</script>

<div class="row-fluid">
    <div class="span9">
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp; &nbsp; My dashboard</h1>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <div class="white-box well">     
                        
                        <div class="row-fluid">
                        <div class="profile">
                        <div class="span3">
                            <h2 style="text-align: center"><img src="@Url.Content("~/Content/img/empty_user.jpg")" /></h2>
                        </div>
                        <div class="span9 left-separator">
                            <div class="pull-right">
                                <a href="@Url.Action("Profile","StaffCentre")" class="btn btn-info">View profile &raquo;</a>
                            </div>
                            <h3> Welcome back, @StormWeb.Helper.CookieHelper.Name </h3>
                            <h4> Your last login: @StormWeb.Helper.CookieHelper.LastLogin </h4>
                            <div class="description">
                                    <p>
                                        Your branch: <br />
                                        @{
                                            <text> @Html.Raw(StormWeb.Helper.BranchHelper.getBranchNameList(StormWeb.Helper.CookieHelper.AssignedBranch, '|')) </text>
                                        }
                                    </p>
                            </div>
                        </div>
                        </div>
                        </div>   
                        <hr />                            
                        
                        @Html.Partial("_DashboardMenu")
                                               
                                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
     <div class="box-tab">
        <div class="page-header">
            <h1>
                &nbsp; &nbsp;Quick status</h1>
        </div> 
            <div class="widget-content">
                <div class="widget-box">
                    <div class="well white-box">
                        <div class="summary">
                            <ul>
                                @if(HttpContext.Current.User.IsInRole("Counsellor"))
                                {
                                if (ViewBag.CountAppointment != null)
                                {
                                    <li><span class="summary-icon"><a class="dashboard-icons-colors calendar_sl" href="@Url.Action("Index", "Appointment")"></a>
                                    </span><span class="count">@ViewBag.CountAppointment</span><span class="summary-title">
                                        Upcoming Appointments</span></li>
                                }
                                if (ViewBag.CountNewEnquiries != null)
                                {
                                    <li>
                                                                        
                                    <span class="summary-icon"><a class="dashboard-icons-colors my_account_sl" href="@Url.Action("Index", "Appointment")"></a>
                                    </span><span class="count">@ViewBag.CountNewEnquiries</span><span class="summary-title">
                                        New Enquiries </span></li>
                                }
                                if (ViewBag.CountNewStudents != null)
                                {
                                    <li><span class="summary-icon"><a class="dashboard-icons-colors special_offer_sl" href="@Url.Action("NewStudent", "StudentStaff")"></a>
                                    </span><span class="count">@ViewBag.CountNewStudents</span><span class="summary-title">
                                        New Students </span></li>
                                }
                                    }
                                @{
                                    int newInbox = StormWeb.Helper.Utilities.countNewInbox();

                                    if (newInbox > 0)
                                    {
                                       @:<li><span class="summary-icon"><a class="dashboard-icons-colors email_sl" href="@Url.Action("Index", "Message")"></a>
                                        @:</span><span class="count">@newInbox</span><span class="summary-title">
                                        @:New Message</span></li>
                                  }
                                    else
                                    {
                                      @:<li><span class="summary-icon"><a class="dashboard-icons-colors email_sl" href="@Url.Action("Index", "Message")"></a>
                                        @:</span><span class="count">@newInbox</span><span class="summary-title">
                                        @:No New Message</span></li>
                                  }
                                    
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
             <div class="span12" style="margin-left: 0;margin-top: 10px;">    
                             @Html.Partial("~/Views/Advertisement/Partial/_ScrollingMarketing.cshtml", (IEnumerable<StormWeb.Models.Advertisement>) ViewBag.Ads)
             </div> 
        </div>
    </div>
</div>
@if(CookieHelper.isInRole("Counsellor"))
    {
<div class="row-fluid">
    <div class="span12">        
        <div class="nonboxy-widget">
          <div class="widget-head">
            <h5><i class="black-icons  documents"></i> Students Overview</h5> 
          </div>
          <div class="widget-content">
            <div class="widget-box" style="padding: 15px;">
                    <br />
                    <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    <i class="color-icons user_co"></i>Student
                                </th>
                                <th>
                                    <i class="color-icons folder_co"></i>Applications
                                </th>
                                <th>
                                    <i class="black-icons paperclip"></i>Documents
                                </th>
                                <th>
                                    <i class="black-icons loading_bar"></i>Progress
                                </th>
                                <th>
                                    
                                </th>                                
                            </tr>
                        </thead>
                        <tbody>
                                @{ StormWeb.Models.StudentStaffModel ssModel = ViewBag.StudentStaff;
                                   foreach (var item in ssModel.caseTable)
                                   {
                                       List<StormWeb.Models.Application> appList = item.Applications.ToList();
                                <tr>
                                    <td>
                                        <ul>
                                            <li><a class='tip-top ifName' title="View profile" href="@Url.Action("StudentProfile", "StudentCentre", new { id = @item.Student.Client_Id})">@item.Student.Client.GivenName @item.Student.Client.LastName</a></li>                                            
                                            <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Registered on:
                                                <a href="#"> @item.Student.Client.Registered_On </a></li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (StormWeb.Models.Application app in appList)
                                            {
                                                <li><a href="#">@app.Course.Course_Name (@app.Course.Faculty.University.University_Name)</a></li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                         <ul>
                                            @foreach (StormWeb.Models.Application app in appList)
                                            {
                                                int uploaded = StormWeb.Helper.Utilities.countUploadedApplicationDocument(item.Student_Id, app.Application_Id) + StormWeb.Helper.Utilities.countUploadedCaseDocument(item.Case_Id);
                                                int toUpload = StormWeb.Helper.Utilities.countCourseDocument(app.Course_Id) + StormWeb.Helper.Utilities.countTotalCaseDocument(item.Case_Id); 
                                                 <li class="post-date"><a href="#">@uploaded / @toUpload</a></li>
                                            }                                           
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (StormWeb.Models.Application app in appList)
                                            {
                                                <li>
                                                <div class="progress progress-striped active tip-top" title="@(StormWeb.Controllers.ApplicationController.getProgressDescription(app.Status))">
								                <div class="bar" style="width: @(StormWeb.Controllers.ApplicationController.getProgressValue(app.Status))%"></div>
							                    </div>
                                                </li>
                                            }                                            
                                        </ul>
                                    </td>
                                    <td>
                                        <ul>
                                            <li><a href=@Url.Action("StudentDetails", "Document", new { id= item.Student.Client_Id })><i class="color-icons application_detail_co"></i>Goto application</a></li>
                                            <li><a class="iframe" href=@Url.Action("CheckAppointment", "Appointment", new { id = item.Student_Id })><i class="color-icons calendar_1_co"></i>Check appointment</a></li>                                            
                                        </ul>
                                    </td>                                    
                                </tr>
                                    }  
                                   }
                        </tbody>
                    </table>             
            </div>
          </div>
        </div>
    </div>                
</div>
}


<script src="../../Scripts/jquery.flot.js" type="text/javascript"></script>

<script>

    $(function () {
        
    });
</script>