@model StormWeb.Models.Client
@{
    ViewBag.Title = "Details";
}
<div class="row-fluid">
    <div class="span12">
        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp;&nbsp;Client Details</h1>
            </div>
            <div class="widget-content">
                <div class="widget-box">
                    <br />
                    <table class="table">
                        <tr>
                            <th>
                                Title
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Title)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Dob
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Dob)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                GivenName
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.GivenName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                LastName
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.LastName)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Email
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Contact Number
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.ContactNumber)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Secondary Contact Number
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.SecondaryContactNumber)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Address
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Address.Address_Name)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Services
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Services)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Preferred Country
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.PreferredCountry)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                InPreferred Country
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.InPreferredCountry)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Preferred Country Visa Status
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.PreferredCountryVisaStatus)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Marital Status
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.MaritalStatus)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Related Kin Details
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.RelatedKinDetail)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Nationality
                            </th>
                            <td>@Html.DisplayFor(model => model.Nationality)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Registered On
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Registered_On)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    
    @Html.Button_BackToList("Bact To List", "../../Client")
</p> 