@model StormWeb.Models.Client
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript">
 
// $(function () {
 $(document).ready(function () {
  $(".dp1").datepicker({
            dateFormat: 'dd/mm/yy',
            yearRange: '-100:c',
            changeMonth: true,
            changeYear: true,
            showOn: "button",
            buttonImage: "../../Content/img/calendar_btn.png",
            buttonImageOnly: true
        });
    });
</script>

<h2>
    Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Client_Id)
    <table style="text-align: left;">
        <tr>
            <th>
                @Html.LabelFor(model => model.Title)
            </th>
            <td>@Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Dob)
            </th>
            <td>
               <div class="input-append">
                @Html.TextBoxFor(model => model.Dob, new { @readonly = "readonly", @class = "dp1" })
                @Html.ValidationMessageFor(model => model.Dob)
               </div>
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.GivenName)
            </th>
            <td>
                @Html.EditorFor(model => model.GivenName)
                @Html.ValidationMessageFor(model => model.GivenName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.LastName)
            </th>
            <td>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Email)
            </th>
            <td>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.ContactNumber)
            </th>
            <td>
                @Html.EditorFor(model => model.ContactNumber)
                @Html.ValidationMessageFor(model => model.ContactNumber)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.SecondaryContactNumber)
            </th>
            <td>
                @Html.EditorFor(model => model.SecondaryContactNumber)
                @Html.ValidationMessageFor(model => model.SecondaryContactNumber)
            </td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Address_Id, "Address")
            </th>
            <td>
                @Html.DropDownList("Address_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Address_Id)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Services)
            </th>
            <td>
                @Html.EditorFor(model => model.Services)
                @Html.ValidationMessageFor(model => model.Services)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.PreferredCountry)
            </th>
            <td>
                @Html.EditorFor(model => model.PreferredCountry)
                @Html.ValidationMessageFor(model => model.PreferredCountry)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.InPreferredCountry)
            </th>
            <td>
                @Html.EditorFor(model => model.InPreferredCountry)
                @Html.ValidationMessageFor(model => model.InPreferredCountry)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.PreferredCountryVisaStatus)
            </th>
            <td>
                @Html.EditorFor(model => model.PreferredCountryVisaStatus)
                @Html.ValidationMessageFor(model => model.PreferredCountryVisaStatus)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.MaritalStatus)
            </th>
            <td>
                @Html.EditorFor(model => model.MaritalStatus)
                @Html.ValidationMessageFor(model => model.MaritalStatus)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.RelatedKinDetail)
            </th>
            <td>
                @Html.EditorFor(model => model.RelatedKinDetail)
                @Html.ValidationMessageFor(model => model.RelatedKinDetail)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Nationality)
            </th>
            <td>
                @Html.EditorFor(model => model.Nationality)
                @Html.ValidationMessageFor(model => model.Nationality)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.Registered_On)
            </th>
            <td>
                 <div class="input-append">
                  @Html.TextBoxFor(model => model.Registered_On, new { @readonly = "readonly", @class = "dp1" })
                  @Html.ValidationMessageFor(model => model.Registered_On)
                </div>
            </td>
        </tr>
    </table>       

    <p>
        <input type="submit" value="Save Changes" class="btn btn-primary"/>
    @Html.Button_DeleteOrCancel("Cancel", "../Index")
    </p> 
} 