@model IEnumerable<StormWeb.Models.Client>
@{
    ViewBag.Title = "Index";
}

<script>

$(function () {
    $('.my-data-tbl-boxy').dataTable({
        "sPaginationType": "full_numbers",
        "aoColumnDefs": [
						{ "bSortable": false, "aTargets": [ 1,2,3,4 ] }
					],
        "iDisplayLength": 10,
        "oLanguage": {
            "sLengthMenu": "<span class='lenghtMenu'> _MENU_</span><span class='lengthLabel'>Entries per page:</span>",
        },
        "sDom": '<"tbl-searchbox clearfix"fl<"clear">>,<"table_content"t>,<"widget-bottom"p<"clear">>'

    });    
    $("div.tbl-searchbox select").addClass('tbl_length');
/*$(".tbl_length").chosen({
		disable_search_threshold: 4	
	});
		*/

});
</script>

<div class="row-fluid">
    <div class="span12">
        <div class="nonboxy-widget">
          <div class="widget-head">
            <h5><i class="black-icons  documents"></i>Client List</h5>
          </div>
        <div class="widget-content">
            <div class="widget-box">
                <table class="my-data-tbl-boxy table">
                    <thead>
                        <tr>
                            <th>
                                Client
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Service
                            </th>
                            <th>
                                Nationality
                            </th>                            
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <ul>
                                        <li>@{ string name = item.Title + " " + item.GivenName + " " + item.LastName; }
                                        <text>@name</text></li>
                                        <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Date of birth:
                                                <a href="#"> @item.Dob.ToShortDateString() </a></li>
                                         <li class="post-date"><i class="icon-small-black alarm_clock_sc"></i>Registered on:
                                                <a href="#"> @item.Registered_On </a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        @if (item.Email != null)
                                        {
                                            <li><i class="black-icons mail"></i> <a href="#">@item.Email</a></li>
                                        }
                                        @if (item.ContactNumber != null)
                                        {
                                            <li><i class="black-icons phone_hook"></i> <a href="#">@item.ContactNumber</a></li>
                                        }
                                        @if (item.SecondaryContactNumber != null)
                                        {
                                            <li><i class="black-icons phone_hook"></i> <a href="#">@item.SecondaryContactNumber</a></li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li> @item.Address.Address_Name, @item.Address.City</li>
                                        <li class="post-date">@item.Address.State @item.Address.Country.Country_Name @item.Address.Zipcode</li>
                                    </ul>
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem => item.Services)
                                </td>
                                <td>
                                     @Html.DisplayFor(modelItem => item.Nationality)
                                </td>                                
                                <td>
                                    <a href="@Url.Action("Edit", new { id = item.Client_Id })" class="tip-top" data-original-title="Edit"> <span class="color-icons page_white_paintbrush_co"></span>  </a> |
                                    <a href="@Url.Action("Details", new { id = item.Client_Id })" class="tip-top" data-original-title="Details"> <span class="color-icons magnifier_co"></span> </a> |
                                    <a href="@Url.Action("Delete", new { id = item.Client_Id })" class="tip-top" data-original-title="Delete"> <span class="color-icons delete_co"></span> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
