@model StormWeb.Models.Client_Qualification
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<h2>
    Add Qualification</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm("AddQualification", "StudentCentre", FormMethod.Post))
{
    @Html.ValidationSummary(false, null, new { @class = "error" })
 
 
    <div id="divEditProfile">
        <table style="text-align: left;">
            <tr>
                <th>
                    Qualification
                </th>
                <td>
                    @Html.TextBoxFor(model => model.Qualification)
                    @Html.ValidationMessageFor(model => model.Qualification)
                </td>
            </tr>
            <tr>
                <th>
                    Major
                </th>
                <td>
                    @Html.TextBoxFor(model => model.Major)
                    @Html.ValidationMessageFor(model => model.Major)
                </td>
            </tr>
            <tr>
                <th>
                    University
                </th>
                <td>
                    @Html.TextBoxFor(model => model.University)
                    @Html.ValidationMessageFor(model => model.University)
                </td>
            </tr>
            <tr>
                <th>
                    Year Of Passing
                </th>
                <td>
                    @Html.TextBoxFor(model => model.Year_of_Passing)
                    @Html.ValidationMessageFor(model => model.Year_of_Passing)
                </td>
            </tr>
        </table>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
            <input type="button" id="closeModal" class="btn btn-danger cancelButton" value="Cancel" />
        </div>
    </div>
}
<script type="text/javascript">

    $(function(){
    @{
        if (ViewBag.successEdit != null)
        {
            //  @:parent.location='/StudentCentre/Profile/@(Model.caseTable.First().Student_Id)?message=edit';
        @:parent.$.fn.colorbox.close();
        };
    }
     });
      
    $(function () {
        $(".cancelButton").click(function () {            
            parent.$.fn.colorbox.close();
        });
    });
//     
//  
//        $(function() {
//            $('#qualification').keypress(function(e) {
//                if (e.which == 13) {
//                  //  $('#loginForm').submit();
//                  alert("asd");
//                }
//            });
//        });
  

</script>
