@model StormWeb.Models.Client_SkillTest
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<h2>Edit Qualification</h2><br />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("AddSkillTest", "StudentCentre", FormMethod.Post))
{
    @Html.ValidationSummary(false, null, new { @class = "error" })
  
    <div id="divEditProfile">
        <table style="text-align: left;"> 
            <tr>
                <th>
                    Type Of Test
                </th>
                <td>
                    @Html.TextBoxFor(model => model.TypeOfTest) 
                </td>
             </tr>
             <tr>
                <th>
                    Score
                </th>
                <td>
                    @Html.TextBoxFor(model => model.Score) 
                </td>
            </tr> 
        </table>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save Changes" />
            <input type="button" id="closeModal" class="btn btn-danger cancelButton" value="Cancel" />
        </div>
    </div>
} 
<script type="text/javascript">

    $(function(){
    @{
        if (ViewBag.successEdit != null)
        {
     // @:parent.location='/StudentCentre/Profile/@(Model.caseTable.First().Student_Id)?message=edit';
        @:parent.$.fn.colorbox.close();
        };
    }
     });
      
    $(function () {
        $(".cancelButton").click(function () {            
            parent.$.fn.colorbox.close();
        });
    });
     
</script>