@model  StormWeb.Models.StudentCentreModel
            
             
<div class="span3">
    <div class="widget-block">
        <div class="widget-head">
            <h5>
                Status</h5>
        </div>
        <div class="widget-content">
            <div class="widget-box">
                <br />
                <table class="table">
                    <tr>
                        <th>
                            Your Counsellor
                        </th>
                        <td>
                            <small>
                   
                              @ViewBag.name <br />
                                @if (ViewBag.name != "You do not have a counsellor assigned")
                                {
                                    <i class="color-icons mobile_phone_co"></i>@ViewBag.contact<br />
                                    <a href="@Url.Action("Compose", "Message")" class="tip-top" title="Send Mail"><i class="color-icons envelope_co"></i>@ViewBag.email</a>
                                }
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Your Branch
                        </th>
                        <td>@ViewBag.branch
                        </td>
                    </tr>
                </table>
                <div class="well white-box">
                    <div class="summary">
                        <ul>
                            @if (ViewBag.upcomingAppointment != null)
                            {
                                <li><span class="summary-icon"><a class="dashboard-icons-colors calendar_sl" href="@Url.Action("Index", "Appointment")">
                                </a></span><span class="count">@ViewBag.upcomingAppointment</span><span class="summary-title">
                                    Upcoming Appointments</span></li>
                            }
                             @{
                                 if (ViewBag.count != null)
                                 {
                                     int newInbox = ViewBag.count;

                                     if (newInbox > 0)
                                     {
                                        @:<li><span class="summary-icon"><a class="dashboard-icons-colors email_sl" href="@Url.Action("Index", "Message")"></a>
                                        @:</span><span class="count">@newInbox</span><span class="summary-title">New Message</span></li>                                     
                                    }
                                     else
                                     {
                                        @:<li><span class="summary-icon"><a class="dashboard-icons-colors email_sl" href="@Url.Action("Index", "Message")"></a>
                                        @:</span><span class="count">@newInbox</span><span class="summary-title">No New Message</span></li>                                      
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>