@model StormWeb.Models.StudentCentreModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(".iframe1").colorbox({ iframe: true, width: "50%", height: "90%" });
        $(".iframe2").colorbox({ iframe: true, width: "40%", height: "80%" });
        $(".iframe3").colorbox({ iframe: true, width: "30%", height: "70%" });
        $(".iframe4").colorbox({ iframe: true, width: "25%", height: "60%" });
        $(".iframe5").colorbox({ iframe: true, width: "20%", height: "50%" });
        $(".iframe6").colorbox({ iframe: true, width: "15%", height: "40%" });
        $(".iframe7").colorbox({ iframe: true, width: "10%", height: "30%" });
    });
</script>
 
<div class="row-fluid">
    <div class="span12">
        <div class="box-tab">
         <div class="page-header">
                 <h1>
                       &nbsp;&nbsp;Student Profile
                        
                   </h1>
                    </div>
            <div class="tabbable1">
                <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active" id="litab1"><a href="#tab1" data-toggle="tab">Personal Details</a></li>
                    <li id="litab2"><a href="#tab2" data-toggle="tab">Qualification</a></li>@* onclick="saveTab('tab2')"*@
                    <li id="litab3"><a href="#tab3" data-toggle="tab">Childrens Details</a></li>
                    <li id="litab4"><a href="#tab4" data-toggle="tab">Skill Test</a></li>
                    <li id="litab5"><a href="#tab5" data-toggle="tab">Spouse Details</a></li>
                    <li id="litab6"><a href="#tab6" data-toggle="tab">Study Service Details</a></li>
                    <li id="litab7"><a href="#tab7" data-toggle="tab">Work Experience</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="span12">
                            <div class="widget-content">
                                <div class="widget-box">
                                    @if (Model.caseTable.Count == 0)
                                    {  
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class='iframe1 btn btn-info'  href="@Url.Action("EditStudentProfile", new { id = ViewBag.id })">
                                                        <i class="color-icons pencil_co"></i>Add New Item</a> No item to display
                                                </td>
                                            </tr>
                                        </table>  
                                    }
                                    else
                                    {
                                        foreach (var item in Model.caseTable)
                                        { 
                                        <a class='iframe1 btn btn-info'  href="@Url.Action("EditStudentProfile", new { id = ViewBag.id })">
                                            <i class="color-icons pencil_co"></i>Edit</a> 
                                        <br />
                                        <br />
@*List Personal Details*@    
                                        <table class="data-tbl-boxy1 table">
                                            <tr>
                                                <th>
                                                    Username
                                                </th>
                                                <td>@Html.Label(item.Student.UserName)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Course Choice
                                                </th>
                                                <td>@Html.Encode(item.Student.Course_Choice)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Title
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Title)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    DOB
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Dob.ToShortDateString())
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.GivenName + " " + item.Student.Client.LastName)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Email
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Email)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Contact Number
                                                </th>
                                                <td>@Html.Label(item.Student.Client.ContactNumber)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Secondary Contact Number
                                                </th>
                                                <td>@Html.Label(item.Student.Client.SecondaryContactNumber)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Address
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.Address.Address_Name)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Address.City)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.Address.State + " " + item.Student.Client.Address.Zipcode)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Address.Country.Country_Name)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Service Choose
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Services)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Preferred Country
                                                </th>
                                                <td>@Html.Label(item.Student.Client.PreferredCountry)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    InPreferred Country
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.InPreferredCountry)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Preferred Country VisaStatus
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.PreferredCountryVisaStatus)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Marital Status
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.MaritalStatus)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Related Kin Detail
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.RelatedKinDetail)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Nationality
                                                </th>
                                                <td>@Html.Label(item.Student.Client.Nationality)
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    Registered on
                                                </th>
                                                <td>@Html.Encode(item.Student.Client.Registered_On.Value.ToShortDateString())
                                                </td>
                                            </tr>
                                        </table>  
@*List Personal Details*@
                              
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="span12">
                            <div class="widget-content">
                                <div class="widget-box">
                                    @if (Model.clientQualificationTable.Count == 0)
                                    {  
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class='iframe5 btn btn-info'  href="@Url.Action("AddQualification", new { id = ViewBag.id })">
                                                        Add Qualification</a><br />
                                                    <br />
                                                    No item to display
                                                </td>
                                            </tr>
                                        </table>  
                                    }
                                    else
                                    {   
                                        <a class='iframe5 btn btn-info'  href="@Url.Action("AddQualification", new { id = ViewBag.id })">
                                            Add Qualification</a><br />
                                        <br />
                                        <table class="data-tbl-simple table table-bordered dataTable">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Qualification
                                                    </th>
                                                    <th>
                                                        Main Subject
                                                    </th>
                                                    <th>
                                                        University
                                                    </th>
                                                    <th>
                                                        Year of Passing
                                                    </th>
                                                    <th>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.clientQualificationTable)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.Encode(item.Qualification)
                                                        </td>
                                                        <td>
                                                            @Html.Encode(item.Major)
                                                        </td>
                                                        <td>
                                                            @Html.Label(item.University)
                                                        </td>
                                                        <td>@Html.Encode(item.Year_of_Passing)
                                                        </td>
                                                        <td>
                                                            <a class='iframe4'   style="margin-left: 55px"   href="@Url.Action("EditQualification", new { id = ViewBag.id, qualificationId = item.Id })">
                                                                <i class="color-icons pencil_co"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table> 
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="span12">
                            <div class="nonboxy-widget">
                                <div class="widget-content">
                                    <div class="widget-box">
                                        @if (Model.clientChildrenDetail.Count == 0)
                                        {  
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a class='iframe4 btn btn-info'  href="@Url.Action("AddChildrensDetails", new { id = ViewBag.id })">
                                                            Add Child Details</a><br />
                                                        <br />
                                                        No item to display
                                                    </td>
                                                </tr>
                                            </table>  
                                        }
                                        else
                                        { <a class='iframe4 btn btn-info'  href="@Url.Action("AddChildrensDetails", new { id = ViewBag.id })">
                                            Add Child Details</a>
                                            <br />
                                            <br /> 
                                            <table class="data-tbl-simple table table-bordered dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            DOB
                                                        </th>
                                                        <th>
                                                            Gender
                                                        </th>
                                                        <th>
                                                            Notes
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.clientChildrenDetail)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.Encode(item.Given_Name + " " + item.Sur_Name)
                                                            </td>
                                                            <td>
                                                                @Html.Encode(item.DOB.ToShortDateString())
                                                            </td>
                                                            <td>
                                                                @Html.Label(item.Gender)
                                                            </td>
                                                            <td>@Html.Encode(item.Notes)
                                                            </td>
                                                            <td>
                                                                <a class='iframe4'   style="margin-left: 55px"   href="@Url.Action("EditChildrensDetails", new { id = ViewBag.id, childId = item.Id })">
                                                                    <i class="color-icons pencil_co"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table> 
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div class="span12">
                            <div class="nonboxy-widget">
                                <div class="widget-content">
                                    <div class="widget-box">
                                        @if (Model.clientSkillTestTable.Count == 0)
                                        {
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a class='iframe5 btn btn-info'  href="@Url.Action("AddSkillTest", new { id = ViewBag.id })">
                                                            Add Skill</a><br />
                                                        <br />
                                                        No item to display
                                                    </td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        { 
                                            <a class='iframe5 btn btn-info'  href="@Url.Action("AddSkillTest", new { id = ViewBag.id })">
                                                Add Skill</a>  
                                            <br />
                                            <br />
                                            <table class="data-tbl-simple table table-bordered dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Type of Test
                                                        </th>
                                                        <th>
                                                            Score
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.clientSkillTestTable)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.Encode(item.TypeOfTest)
                                                            </td>
                                                            <td>
                                                                @Html.Encode(item.Score)
                                                            </td>
                                                            <td>
                                                                <a class='iframe4'   style="margin-left: 55px"   href="@Url.Action("EditSkillTest", new { id = ViewBag.id, skillsId = item.Client_SkillTestId })">
                                                                    <i class="color-icons pencil_co"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            
@*
                                                    foreach (var item in Model.clientSkillTestTable)
                                                    {     
                                  
                                            <table class="data-tbl-boxy1 table">
                                                
                                                <tr>
                                                    <th>
                                                        Type of Test
                                                    </th>
                                                    <td>@Html.Label(item.TypeOfTest)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Score
                                                    </th>
                                                    <td>@Html.Encode(item.Score)
                                                    </td>
                                                </tr>
                                            </table>
                                               
                                                    }*@
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <div class="span12">
                            <div class="nonboxy-widget">
                                <div class="widget-content">
                                    <div class="widget-box">
                                        @if (Model.clientSpouse.Count == 0)
                                        {
                                            <table>
                                                <tr>
                                                    <td>
                                                        <td>
                                                        @*    <a class='iframe1 btn btn-info'  href="@Url.Action("EditStudentProfile", new { id = ViewBag.id })">
                                                                <i class="color-icons pencil_co"></i>Edit Spouse Details</a> *@
                                                                <a class='iframe4 btn btn-info' href="@Url.Action("AddSpouseDetails", new { id = ViewBag.id })">
                                                                    Add Spouce Details</a>
                                                            <br />
                                                            <br />
                                                            No item to display
                                                        </td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        { 
@*<a class='iframe4 btn btn-info' href="@Url.Action("EditSpouseDetails", new { id = ViewBag.id })">
                                                <i class="color-icons pencil_co"></i>Edit</a>*@
                                            <a class='iframe4 btn btn-info' href="@Url.Action("AddSpouseDetails", new { id = ViewBag.id })">
                                                Add Spouce Details</a>
                                            <br />
                                            <br />
                                            <table class="data-tbl-simple table table-bordered dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Title
                                                        </th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            Contact
                                                        </th>
                                                        <th>
                                                            DOB
                                                        </th>
                                                        <th>
                                                            Nationality
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.clientSpouse)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.Encode(item.Title)
                                                            </td>
                                                            <td>
                                                                @Html.Encode(item.GivenName + " " + item.LastName)
                                                            </td>
                                                            <td>
                                                                @Html.Label(item.PrimaryContact)
                                                            </td>
                                                            <td>@Html.Encode(item.Dob)
                                                            </td>
                                                            <td>@Html.Encode(item.Nationality)
                                                            </td>
                                                            <td>
                                                                <a class='iframe4'   style="margin-left: 55px"   href="@Url.Action("EditSpouseDetails", new { id = ViewBag.id, spouseId = item.Id })">
                                                                    <i class="color-icons pencil_co"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                                   @* foreach (var item in Model.clientSpouse)
                                                    {    
                                            <table class="data-tbl-boxy1 table">
                                                <tr>
                                                    <th>
                                                        Title
                                                    </th>
                                                    <td>@Html.Label(item.Title)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <td>@Html.Encode(item.GivenName + " " + item.LastName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Contact
                                                    </th>
                                                    <td>@Html.Encode(item.PrimaryContact)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        DOB
                                                    </th>
                                                    <td>@Html.Encode(item.Dob)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Nationality
                                                    </th>
                                                    <td>@Html.Encode(item.Nationality)
                                                    </td>
                                                </tr>
                                            </table> 
                                                    }*@
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab6">
                        <div class="span12">
                            <div class="nonboxy-widget">
                                <div class="widget-content">
                                    <div class="widget-box">
                                        @if (Model.clientStudyServiceDetails.Count == 0)
                                        {
                                            <table>
                                                <tr>
                                                    <td>
                                                        <td>
                                                            <a class='iframe1 btn btn-info'  href="@Url.Action("AddStudyServiceDetails", new { id = ViewBag.id })">
                                                                Add Service Details</a><br />
                                                            <br />
                                                            No item to display
                                                        </td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        { 
                                            <a class='iframe2 btn btn-info' href="@Url.Action("EditStudyServiceDetails", new { id = ViewBag.id })">
                                                <i class="color-icons pencil_co"></i>Edit</a>
                                            <br />
                                            <br />
                                                                             foreach (var item in Model.clientStudyServiceDetails)
                                                                             {      
                                  
                                            <table class="data-tbl-boxy1 table">
                                                <tr>
                                                    <th>
                                                        Preferred Course Detail
                                                    </th>
                                                    <td>@Html.Label(item.PreferredCourseDetail)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Applied To Other University
                                                    </th>
                                                    <td>
                                                        @Html.Encode(item.AppliedToOtherUniversity)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Applied To Other University Name
                                                    </th>
                                                    <td>@Html.Encode(item.AppliedToOtherUniversityName)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Previous Consultant
                                                    </th>
                                                    <td>@Html.Encode(item.PreviousConsultant)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Relative At Preferred Country
                                                    </th>
                                                    <td>@Html.Encode(item.RelativeAtPreferredCountry)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Relative At Preferred Country Location
                                                    </th>
                                                    <td>@Html.Encode(item.RelativeAtPreferredCountryLocation)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Relative At Preferred County Status
                                                    </th>
                                                    <td>@Html.Encode(item.RelativeAtPreferredCountyStatus)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Hear About Us
                                                    </th>
                                                    <td>@Html.Encode(item.HearAboutUs)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Hear About Us Other
                                                    </th>
                                                    <td>@Html.Encode(item.HearAboutUsOther)
                                                    </td>
                                                </tr>
                                            </table>
                                               
                                                                             }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab7">
                        <div class="span12">
                            <div class="nonboxy-widget">
                                <div class="widget-content">
                                    <div class="widget-box">
                                        @if (Model.clientWorkExperience.Count == 0)
                                        {
                                            <table>
                                                <tr>
                                                    <td>
                                                        <td>
                                                            <a class='iframe1 btn btn-info'  href="@Url.Action("AddWorkExperiance", new { id = ViewBag.id })">
                                                                Add Experience</a><br />
                                                            <br />
                                                            No item to display
                                                        </td>
                                                </tr>
                                            </table>
                                        }
                                        else
                                        {  
                                            <a class='iframe1 btn btn-info'  href="@Url.Action("AddWorkExperiance", new { id = ViewBag.id })">
                                                Add Experience</a>
                                            <br />
                                            <br />
                                            <table class="data-tbl-simple table table-bordered dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            From Date
                                                        </th>
                                                        <th>
                                                            To Date
                                                        </th>
                                                        <th>
                                                            Country
                                                        </th>
                                                        <th>
                                                            Employer
                                                        </th>
                                                        <th>
                                                            Position
                                                        </th>
                                                        <th>
                                                            Duties
                                                        </th>
                                                        <th>
                                                            Client Reference Contact No
                                                        </th>
                                                        <th>
                                                            Client Reference Email
                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.clientWorkExperience)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.Encode(item.From_Date)
                                                            </td>
                                                            <td>
                                                                @Html.Encode(item.To_Date)
                                                            </td>
                                                            <td>
                                                                @Html.Label(item.Country)
                                                            </td>
                                                            <td>@Html.Encode(item.Employer)
                                                            </td>
                                                            <td>@Html.Encode(item.Position)
                                                            </td>
                                                            <td>@Html.Encode(item.Duties)
                                                            </td>
                                                            <td>@Html.Encode(item.Client_Reference_Contact_No)
                                                            </td>
                                                            <td>@Html.Encode(item.Client_Reference_Email)
                                                            </td>
                                                            <td>
                                                                <a class='iframe4'   style="margin-left: 55px"   href="@Url.Action("EditWorkExperiance", new { id = ViewBag.id, workId = item.Id })">
                                                                    <i class="color-icons pencil_co"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table> 
                                            
                                             
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
@{ 
    if (ViewBag.message != null)
    {
    @:$(function () {
    @:$.pnotify({
            @:title:'Success',
			@:layout : 'top',
			@:text: 'Your edit has been successful',
			@:type:'success',
            @:history:false
			
			 @:});
		  @:});

    } 
}
  
//function saveTab(value)
// {  
//    $(parent).load(function() {
// alert(value);
//document.getElementById(value).className = "tab-pane active"; 
//document.getElementById('tab1').className="";
//document.getElementById('li'+value).className="active";
//document.getElementById('litab1').className="";

//alert(document.getElementById(value).className + " " + document.getElementById('tab1').className + " " + document.getElementById('litab1').className + " " + document.getElementById('li'+value).className);

// });

//  }


 

// function SaveTab(value)
// {
//     string v= value;
// }
// $(window).load(function () {
// 
// 

// alert("sd");
// });
</script>
