@model IEnumerable<StormWeb.Models.Advertisement>
@{
    ViewBag.Title = "_ScrollingMarketing";
}


<script type="text/javascript" charset="utf-8">
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            slideshowSpeed: 3000,
            smoothHeight: true,

    });

    $(function() {
        $("#hidePromo").click(function () {
            if ($("#hidePromo").html().indexOf("Hide") >= 0)
            {
                $("#promoBox").hide();
                $("#hidePromo").html("Show");
            }
            else
            {
                $("#promoBox").show();
                $("#hidePromo").html("Hide");
            }
        });
    });
});
</script>

<link href="../../../Content/css/flexslider.css" rel="stylesheet" type="text/css" />
<script src="../../../Scripts/jquery.flexslider-min.js" type="text/javascript"></script>

        <div class="box-tab">
            <div class="page-header">
                <h1>
                    &nbsp; &nbsp; Promo <span class="btn btn-warning" id="hidePromo">Hide</span></h1>
            </div>
            <div class="widget-content" id="promoBox">
                <div class="widget-box" style="padding: 15px;">
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var item in Model)
                    {
                                <li>
                                    @Html.Raw(item.Comments)
                                    @if (item.Advertisement_File.SingleOrDefault().FileName != null)
                                    {
                                         @Html.Link_DownloadFile(@item.Advertisement_File.SingleOrDefault().FileName, @Url.Action("AdvertisementFile", new { id = item.Advertisement_File.SingleOrDefault().AdvertisementFileId }))}
                                    else
                                    { @("No file attached")}
                                </li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

