@model StormWeb.Models.Course            
@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#University_Select").change(function () {
            var data = [];
            var selectedUniID = $(this).val();
            $.post('@Url.Action("GetFaculties")', { uniID: selectedUniID }, function (data) {
                data = $.map(data, function (item, a) {
                    return "<option value=" + item.Value + ">" + item.Text + "</option>";
                }, 'json');
                $("#Faculty_Select").html(data.join(""));
            });
        });
    });   
</script>
<script type="text/javascript">
    $(document).ready(function () {
        // For DatePicker
        $(".dp").datepicker({
            dateFormat: 'mm/dd/yy',
            changeMonth: true,
            changeYear: true,
            minDate: '0',
            maxDate: '+24M',
            showOn: "button",
            buttonImage: "../Content/img/calendar_btn.png",
            buttonImageOnly: true
        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form-horizontal well">
        <fieldset style="margin-left: 50px;">
            <legend>
                <h2>
                    Add New Course</h2>
            </legend>
            <div class="control-group">
                @Html.Label("University", null, new { @class = "control-label form-required" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.Faculty.University.University_Id, (IEnumerable<SelectListItem>)ViewBag.Universities, "--Select--", new { @class = "chzn-select" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Faculty.University.University_Id)</p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Faculty", null, new { @class = "control-label form-required" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.Faculty.Faculty_Id, (IEnumerable<SelectListItem>)ViewBag.Faculty_Id, "--Select--", new { @class = "chzn-select" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Faculty.Faculty_Id)
                    </p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Course", null, new { @class = "control-label form-required" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.Course_Id, (IEnumerable<SelectListItem>)ViewBag.Course_Level_Id, "--Select--", new { @class = "chzn-select" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Faculty.Faculty_Id)
                    </p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Semester Commencement Date", null, new { @class = "control-label form-required", style = "width:250px;margin-left: -110px;" })
                <div class="controls">
                    <div class="input-append">
                        @Html.TextBoxFor(model => model.Commence_Date_Sem, new { @class = "dp", @readonly = "readonly" })
                    </div>
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Commence_Date_Sem)
                    </p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Course Name", null, new { @class = "control-label form-required" })
                <div class="controls">
                    @Html.EditorFor(model => model.Course_Name, new { @class = "input-xlarge text-tip", placeholder = "Course Name" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Course_Name)
                    </p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Duration (in months)", null, new { @class = "control-label form-required" })
                <div class="controls">
                    @Html.EditorFor(model => model.Duration, new { @class = "input-xlarge text-tip", placeholder = "Duration" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Duration)
                    </p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Total Course Fees ($AUD)", null, new { @class = "control-label form-required" , style = "width:250px;margin-left: -110px;" })
                <div class="controls">
                    @Html.EditorFor(model => model.Fee, new { @class = "input-xlarge text-tip", placeholder = "Fees" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Fee)
                    </p>
                </div>
            </div>
            <div class="control-group">
                @Html.Label("Description", null, new { @class = "control-label form-required" })
                <div class="controls">
                    @Html.EditorFor(model => model.Description, new { @class = "input-xlarge text-tip", placeholder = "Description" })
                    <p class="help-block">
                        @Html.ValidationMessageFor(model => model.Description)
                    </p>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    @Html.Button_DeleteOrCancel("Cancel", "List")
                </div>
            </div>
        </fieldset>
    </div>

    @*<fieldset>
        <div class="editor-label">
            @Html.Label("Select University")
        </div>
        <div class="editor-field">
            @Html.DropDownList("University_Select", (IEnumerable<SelectListItem>)ViewBag.Universities, "--Select--", new { @class = "chzn-select" })
        </div>
        <div class="editor-label">
            @Html.Label("Select Faculty")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Faculty_Select", (IEnumerable<SelectListItem>)ViewBag.Faculty_Id, "--Select--", new { @class = "chzn-select" })
            
            @Html.ValidationMessage("FacultyError")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Course_Level_Id, "Course Level")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Course_Level_Id", (IEnumerable<SelectListItem>)ViewBag.Course_Level_Id, "--Select--", new { @class = "chzn-select" })
            @Html.ValidationMessageFor(model => model.Course_Level_Id)
            @Html.ValidationMessage("CourseLevelError")
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Commence_Date_Sem, "Semester Commencement Date")
        </div>
        <div class="editor-field">
            <div class="input-append">
                @Html.TextBoxFor(model => model.Commence_Date_Sem, new { @readonly = "readonly", @class = "dp" })
                
                @Html.ValidationMessage("DateError")
            </div>
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Course_Name, "Course Name")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Course_Name)
            @Html.ValidationMessageFor(model => model.Course_Name)
            @Html.ValidationMessage("CourseNameError")
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Duration, "Duration (in months)")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
          
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Fee, "Total Course Fees ($AUD)")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Fee)
            @Html.ValidationMessageFor(model => model.Fee)
           
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <p>
            <input type="submit" value="Create" class="btn btn-primary" />
            @Html.Button_DeleteOrCancel("Cancel", "List")
        </p>
    </fieldset>*@
}
