@model StormWeb.Models.Course
@{
    ViewBag.Title = "Delete";
}
<div class="span6">
    <h2>
        Delete</h2>
    <h3>
        Are you sure you want to delete this?</h3>
    <table class="data-tbl-simple table table-bordered dataTable ">
        <tr>
            <th>
                Course Level
            </th>
            <td>
                @Html.DisplayFor(model => model.Course_Level.Course_Level1)
            </td>
        </tr>
        <tr>
            <th>
                Faculty
            </th>
            <td>@Html.DisplayFor(model => model.Faculty.Faculty_Name)
            </td>
        </tr>
        <tr>
            <th>
                Semester Commencement Date
            </th>
            <td>
                @Html.DisplayFor(model => model.Commence_Date_Sem)
            </td>
        </tr>
        <tr>
            <th>
                Course Name
            </th>
            <td>
                @Html.DisplayFor(model => model.Course_Name)
            </td>
        </tr>
        <tr>
            <th>
                Duration
            </th>
            <td>
                @Html.DisplayFor(model => model.Duration)
            </td>
        </tr>
        <tr>
            <th>
                Description
            </th>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <th>
                Fee
            </th>
            <td>
                @Html.DisplayFor(model => model.Fee)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {    
        <p>
            <input type="submit" value="Delete" class="btn btn-danger"/>
            @Html.Button_DeleteOrCancel("Cancel", "../List")
        </p>
    }
</div>
