@model StormWeb.Models.University

@{
    ViewBag.Title = "Description";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row-fluid">
    <div class="span12">
       <div class="box-tab"> 
             <div class="page-header">
                 <h1>
                       &nbsp;&nbsp;University Details
                        
                   </h1>
                    </div>
            <div class="widget-content">
                <div class="widget-box">
                    <table class="data-tbl-boxy table">
                        <tr>
                            <td>
                                <label class="control-label-bold" for="input01">
                                    University Name</label>
                            </td>
                            <td>@Html.DisplayFor(model => model.University_Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label-bold" for="input01">
                                    Country</label>
                            </td>
                            <td>@Html.DisplayFor(model => model.Country.Country_Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label-bold" for="input01">
                                    Campus</label>
                            </td>
                            <td>@Html.DisplayFor(model => model.Campus)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label-bold" for="input01">
                                    Email</label>
                            </td>
                            <td>@Html.DisplayFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label-bold" for="input01">
                                    University Url</label>
                            </td>
                            <td>@Html.DisplayFor(model => model.University_Url)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label-bold" for="input01">
                                    Description</label>
                            </td>
                            <td>@Html.DisplayFor(model => model.Description)
                            </td>
                        </tr>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>

