@model StormWeb.Models.Student_Log

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Log</legend>

        @Html.HiddenFor(model => model.Log_Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Case_Id, "Case")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Case_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Case_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateTime)
            @Html.ValidationMessageFor(model => model.DateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
