@model IEnumerable<StormWeb.Models.Student_Log>
@{
    ViewBag.Title = "Student";
}
@*<div class="row-fluid">
    <div class="span12">
        <!-- Start of widget block -->
        <div class="nonboxy-widget">
            <div class="widget-content">
                <!-- Start of Box widget -->
                <div class="widget-box">
                    <!-- Start of Form Wizard -->
                    <input type="hidden" name="isFullRegistration" id="isFullRegistration" value='yes'
                        style="display: none" />
                    <div id="wizard" class="content-wizard">
                    </div>
                    <!-- JQuery UI and WIdget -->
                    <script src="@Url.Content("~/Scripts/jquery.widget.js")" type="text/javascript"></script>
                    <link href="@Url.Content("~/Content/css/ui-lightness/jquery-ui-1.8.22.custom.css")" rel="stylesheet" type="text/css" />
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget-block">
                                <div class="widget-head">
                                    <h5>
                                        Student Log</h5> 
                                </div>
                                <div class="widget-content">
                                    <div class="widget-box">
                                        <table class="data-tbl-boxy table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        DateTime
                                                    </th>
                                                    <th>
                                                        Comment
                                                    </th>
                                                    <th>
                                                        Type
                                                    </th>
                                                    <th>
                                                        Section
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {

                            
                                                                                                      
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DateTime)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Comment)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Type)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Section)
                                                        </td>
                                                    </tr>    
                   
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


 <div class="row-fluid">
    <div class="span12">
       @* <div class="widget-block">
            <div class="widget-head">
                <h5>
                    Student Log</h5>
            </div>*@
              <div class="box-tab">
                <div class="page-header">
                 <h1> &nbsp;&nbsp;Log List </h1>
                   </div>
            <div class="widget-content">
                <div class="widget-box" style="padding: 15px;">
                    <table class="data-tbl-simple table table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>
                                    DateTime
                                </th>
                                <th>
                                    Comment
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Section
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                            
                                                                                                      
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Section)
                                    </td>
                                </tr>    
                   
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
   @Html.Button_BackToList("Bact To List", "../../Log/ShowLogs")
  